/* 通讯录首页 */
body{font-family: "Microsoft YaHei",Arial;}
/* 左右布局 */

.addr-list-body{}

.addr-btngroup {padding:0 14px 10px;}
.addr-btngroup .toolBarPaging{position:absolute; right:14px; top:0; height:35px;  padding:9px 0 0 0px;}
.addr-btn {float: left;font-size:0; _padding-bottom:1px;}
.addr-btn .i-addrDot{position:absolute;right:-3px;top:-3px;}
.addr-btn a, .addr-btn a span{height:26px; line-height:26px;}
/*.addr-btn .btnTb{float: left;margin-right: 5px;}*/
.addr-letter{border-top: 1px solid #e8e8e8;padding:5px 0 5px 5px;border-bottom: 1px solid #e8e8e8;}
.addr-letter a{color:#666;width: 20px;height: 20px;display: inline-block;text-align: center;line-height: 20px;margin-right:8px;float: left;}
.addr-letter .firstStyle{margin-right:15px;}
.addr-letter a.on,.addr-letter a:hover{background-color: #6e6e6e;color: #FFF;text-decoration: none;}
.addr-letter a:hover{background-color:#6e6e6e;color: #fff; }
.addr-letter a.on:hover{background-color: #6e6e6e;color: #FFF;}
.addr-table table{width: 100%; table-layout:fixed;}
.addr-table table .td1{padding-left:8px;width:38px;}
.addr-table table .td1 .i-addrVip, .addr-table table .td1 .i-addrPeople{position:relative;top:2px;*top:0;margin-left:7px;*margin-left:1px; *vertical-align:2px;}
.addr-table table td{height: 28px;border-bottom:1px solid #f2f2f2; white-space:nowrap; color:#464646; font-size:14px; overflow:hidden;}
.addr-table table td a{color:#1a75ca; font-size:12px;}
.addr-table table td.td5{line-height: 18px;}
.addr-table table td a:hover{text-decoration:none; color:#175fa2;}
.addr-table table td .w-exp{white-space:nowrap;}
.addr-table table .td2{width: 185px; }
.addr-table table .td2 .name-txt{width:155px;overflow:hidden;white-space: nowrap;-o-text-overflow: ellipsis;text-overflow: ellipsis;}
.addr-table table .td3{width: 252px; }
.addr-table table .td3 .email-txt{width:215px;overflow:hidden;white-space: nowrap;-o-text-overflow: ellipsis;text-overflow: ellipsis;}
.addr-table table .td4{width: 190px; }
.addr-table table .td4 .mobile-txt{width:160px;overflow:hidden;white-space: nowrap;-o-text-overflow: ellipsis;text-overflow: ellipsis;}
.addr-table table .td6{width: 0px;text-align: right;padding-right: 8px; color: #ccc;}
.addr-table table .td6 span{display: none;}
.addr-table table tr.on td{background-color: #f2f2f2;}
.addr-table table tr.hover{cursor: pointer;}
.addr-table table tr.hover td{background-color: #f8f8f8;}
.addr-table table tr.hover .td6 span{display: block; height:28px; line-height:28px; position:relative; z-index:1;}
.addr-table .addr-table-header td{background-color: #f8f8f8; color:#666; vertical-align:middle; height:26px; font-size:12px; border-bottom:none;}
.addr-table .addr-table-header .i-d-up, .addr-table .addr-table-header .i-d-down{position:relative; top:1px; *top:-2px;}
.addr-list{overflow-x:hidden;overflow-y:auto;  position:relative; zoom:1;}
.addr-list mark{color:#ff5907; background:none;}
.addr-s-t{padding:0px 4px; height:18px; line-height:18px;background-color:#f2f2f2; color:#999; margin-right:8px;}

.addr-yellow-tips{text-align: center;height: 26px;line-height: 26px;background-color: #fff1b4;}
.ipt-edit{border:1px solid #a1bfda; padding:0 4px;}

.i-addr-e,.i-addr-d,.i-addr-p,.i-addr-g,.addr-search,.i-addr-f,
.i-addr-smile,
.addr-search a:hover,
.i-d-up,.i-d-down,.i-addrVip,.i-addrDot, .i-addrPeople, .i-c-notes{background: url(../../../images/module/addr/ico.png) no-repeat;_background: url(../../../images/module/addr/ico_8.png) no-repeat; display:inline-block; overflow:hidden;}
.i-addr-d{background-position:0 -95px;}
.i-addr-e{background-position:-14px -95px;}
.i-addr-f{background-position:-126px -95px;}
.i-addr-d:hover{background-position:-28px -95px;}
.i-addr-e:hover{background-position:-42px -95px;}
.i-addr-f:hover{background-position:-154px -95px;}
.addr-ul-list li.on .i-addr-d{background-position:0 -95px;}
.addr-ul-list li.on .i-addr-e{background-position:-14px -95px;}
.addr-ul-list li.on .i-addr-f{background-position:-112px -95px;}
.addr-ul-list li.on .i-addr-d:hover{background-position:-28px -95px;}
.addr-ul-list li.on .i-addr-e:hover{background-position:-42px -95px;}
.addr-ul-list li.on .i-addr-f:hover{background-position:-140px -95px;}
.addr-ul-list .i-c-notes{position:relative; top:3px; *top:-2px; margin-right:4px;}
.addr-ul-list .t_globalDown{position:absolute; left:7px; top:9px;}
.addr-ul-list .t_globalRight{position:absolute; left:9px; top:7px;}
.i-addr-p{background-position:-20px -20px; }
.i-addr-g{background-position:-20px -40px;}
.addr-p-tab li.on .i-addr-p{background-position:-0px -20px; }
.addr-p-tab li.on .i-addr-g{background-position:-0px -40px; }
.i-c-notes{background-position:-167px -38px; width:16px; height:16px;}

.i-addr-smile{width: 64px;height: 64px;display: inline-block;background-position: -97px 0;}

.addr-imgInfo {width: 360px;height: 70px;margin:200px auto 0 auto;}
.addr-imgInfo dt{font-size: 14px;padding: 5px 0; color:#444;}
.addr-imgInfo dd{padding:5px 0;}
.addr-imgInfo dd span{color:#999; margin:0 7px;}
.addr-imgInfo .imgLink{margin-left: 20px;}

.i-d-up,.i-d-down{width: 10px;height: 11px;display: inline-block;overflow: hidden;}
.i-d-up{background-position: -171px -7px;}
.i-d-up:hover{background-position:-184px -7px}
.i-d-down{background-position: -171px -22px;}
.i-d-down:hover{background-position:-184px -22px}

.i-addrVip{width:12px;height:12px;background-position:-40px -21px;}
.i-addrDot{width:6px;height:6px;background-position:-58px -22px;}
.i-addrPeople{width:14px; height:14px; background-position:-69px -18px;}


/* vip联系人 */
.bill_list_null{ padding: 15px  0 40px 15px;}
.bill_list_null h2{ font-size: 14px; font-weight: bold; padding-left: 3px;}
.bill_list_null p{ padding-left: 3px;}
.list td .bill_list_null a{ text-decoration: underline; color: #0344AE;}
.bill_list_null img{ margin-top: 7px;}
.bill_list_null .addvippeoDiv{border: 1px solid #c6c6c6;background-color: #f5f5f5;width: 160px;height: 160px;position: relative;margin-top: 10px;}
.bill_list_null .addvippeoDiv .btnGreen, .bill_list_null .addvippeoDiv .btnG{position: absolute;bottom: 10px;left:22px;}
.bill_list_null .addvippeoDiv .btnGreen em{_width:100px; }
.bill_list_null .addvippeoDiv .btnG span{padding:0 10px 0 0; line-height:24px;}
.bill_list_null .addvippeoDiv .addIco{position: absolute;width: 54px;height: 54px;left:52px;top:30px; }
.bill_list_null .addvippeoDiv .addIco .a1{position: absolute;left:0;top:21px;display:block;border:1px solid #c6c6c6;width: 52px;height: 11px;overflow: hidden;background-color: #FFFFFF;z-index: 3;  }
.bill_list_null .addvippeoDiv .addIco .a2{position: absolute;left:20px;top:1px;display:block;border:1px solid #c6c6c6;width: 11px;height: 19px;overflow: hidden;background-color: #FFFFFF;border-bottom-color:#FFFFFF;z-index: 4;   }
.bill_list_null .addvippeoDiv .addIco .a3{position: absolute;left:20px;top:33px;display:block;border:1px solid #c6c6c6;width: 11px;height: 19px;overflow: hidden;background-color: #FFFFFF; border-top-color: #FFFFFF;z-index: 4; }



.addr-search{width: 150px;height: 20px;background-position: 0 -69px;overflow: hidden;display: block;float: right;margin:3px 5px 0 0;}
.addr-search input{height: 16px;float: left;border:0;outline: 0;margin:2px 0 0 6px;width: 120px;}
.addr-search a{width: 18px;height: 18px;float: left;display: block;}
.addr-search a:hover{background-position:-156px -69px; }

.search-title{font-size: 14px;height: 21px;padding-bottom: 10px;}
.search-title .line{color: #999;margin:0 10px;}

.sweb::-webkit-scrollbar {height:8px; width:8px;}
.sweb::-webkit-scrollbar-button {height:0; width:0}
.sweb::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment { display:block}
.sweb::-webkit-scrollbar-button:vertical:start:increment,::-webkit-scrollbar-button:vertical:end:decrement { display:none}
.sweb::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal { border-style:solid; border-color:transparent}
.sweb::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal{background-clip:padding-box;background-color:#fff;}
.sweb::-webkit-scrollbar-thumb { background-clip:padding-box; background-color:rgba(209,211,217,1); min-height:28px; padding-top:100;-webkit-border-radius:15px;}
.sweb::-webkit-scrollbar-thumb:hover {background-color:rgba(166,167,175,1);-webkit-border-radius:15px;}
.sweb::-webkit-scrollbar-thumb:active {background-color:rgba(166,167,175,1);-webkit-border-radius:15px;}
.sweb::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal {  border-width:0;}
.sweb::-webkit-scrollbar-track:hover {background-color:rgba(228,229,233,1);-webkit-border-radius:15px;}
.sweb::-webkit-scrollbar-track:active {background-color:rgba(228,229,233,1);-webkit-border-radius:15px;}

.tool_li{float:left; _padding-bottom:1px;}
.first_num{margin-right:15px !important;}

#contacts-list .editings_em{width:152px;line-height:24px; display:inline-block; overflow:visible;}
.editings_span{width:auto !important; width:152px; max-width:152px;float:left;clear:both;white-space:nowrap;_white-space:normal;_height:20px;white-space: nowrap;text-overflow:ellipsis; overflow:hidden;}
.editings_em i{margin:7px -120px 0 5px;_position:relative;float:left; _display:inline;}

/*和通讯录*/
.peopleList{width:750px;}
.peopleList li{margin-bottom:8px;}
.peopleList .form .element{float:left; color:#666;}
.peopleList .form .label{width:95px;}
.peopleList .addr-s-t{font-size:14px;}
.peopleList .form .label img{margin-right:6px;}
.peopleList h2{line-height:52px; line-height:52px; font-size:16px; color:#444; font-weight:normal;}