i{background-image:url("../../images/module/bill/mail_icons01.gif");}
.i_bill_ads,.i_bill_save,.i_bill_time,.i_bill_env,.i_bill_safe,.i_icon1{width:20px; height:20px;  margin-right: 5px;background-image: url(http://image0.139cm.com/rm/richmail/images/billCenter/ads_bill.gif); vertical-align: middle;}
.i-group-3{background-position:-421px -234px;width:20px;height:18px;}
.i_bill_ads{background-position:-110px -11px;width:52px;height:62px; margin: 7px 10px 0 15px;}
.i_bill_save{background-position:0 -530px;}
.i_bill_time{background-position:-20px -530px;}
.i_bill_env{background-position:-40px -530px;}
.i_bill_safe{background-position:-60px -530px;}
.i_icon1{width: 5px; height: 5px; margin-right: 8px; background-position:-168px -271px;}
.c666{color: #666;}
.mt20{ margin-top: 20px;}.mt10{ margin-top: 10px;}.mt15{ margin-top: 15px;}
.pt20{ padding-top: 20px;}.pt10{ padding-top: 10px;}.pt15{ padding-top: 15px;}.pt5{ padding-top: 5px;}
.mail-oper a{color:#000;text-decoration:none;_vertical-align:baseline;}
.mail-oper a:hover{text-decoration:underline;}
.btn-write{background-position:0 -347px;display:block;padding:4px 5px 1px;margin:8px auto;color:#000;font-weight:bold;font-size:14px;text-align:center;width:135px;height:20px;}
.btn-write i{position:relative;top:-1px}
.mailList-sider{width:190px;float:right;margin-right:10px;display:inline;}
.mailList-sider-wrap{background-color:#fff;overflow:hidden;padding:0 7px;border:1px #b1b1b1 solid;margin:8px;}
.info{overflow:hidden;zoom:1;padding-top:13px;}
.info .pic{float:left;border:1px solid #000;width:32px;height:32px;background-color:#000;color:#fff;}
.info .name{padding:0 0 0 38px;color:#666}
.info h2{color:#000;font-size:14px;font-weight:bold;}
.mail-oper{padding:5px;border-top-width:2px;border-top-style:solid;margin-bottom:9px}
.mail-oper p{margin:0 auto;padding:4px 0;text-indent:13px;font-size:14px;font-weight:bold;width:148px;}
.mail-oper p.current a{text-decoration:none;color:#000;}
.mail-oper h3{border-bottom:1px #fff solid;color:#666666;padding:6px 0 6px 15px;font-weight:normal}
.nobor-top{border-top:0 none;}
.point-msg{line-height:1.6;position:relative;}
.point-msg em{display:block;font-weight:bold;margin:2px 0 5px;font-style:normal;}
.point-msg span{position:absolute;top:7px;right:7px;_right:20px;}
.point-msg dl{padding-bottom:12px;}
.point-msg dt{font-weight:bold;}
.switch-bar{position:absolute;width:15px;top:42%;right:186px;_right:185px;}
.switch-bar i{height:10px;width:10px;}
.switch-bar .arrow-l{background-position:-39px -252px;}
.switch-bar .arrow-r{background-position:-18px -252px;}


#adVdTool .line{ padding: 0 5px; color: #ccc;}
#adVdTool a{ text-decoration: none;}

.bill_box{ padding: 0 10px 10px; line-height: 1;}
.bill_box h3{ font-size: 12px; padding: 10px 0 5px	; font-weight: bold; zoom:1;}
#divMain,#divList{height: 100%;}
#divMain{ margin-top: 5px;}
.mobile,.calendar{inline-display:block; background:url(../../images/module/bill/ads_bills.gif) no-repeat ;  position:absolute; right:12px; top:10px;}
.mobile{width:53px; height:62px; background-position:0 -30px;}
.calendar{ background-position:-55px -30px; width:54px; height:59px;}

.bill_box .ads_bill{width: 173px; height: 80px;  margin-top: 6px; position: relative; display: block; }
.bill_box .ads_bill1{border:1px solid #d8d8d8; color:#666;}
.ads_bill h4{ font-size:14px; font-weight:bold; padding:10px 0 0 13px;}
.ads_bill p{padding:5px 0 0 13px;}
.bill_box .ads_bill2{background: url(../../images/module/bill/ads_bill.gif) no-repeat 0 -80px;}
.bill_box .ads_bill3{background: url(../../images/module/bill/ads_bill.gif) no-repeat 0 -160px;}
.bill_box .ads_bill a{width: 75px; height: 25px; background:url(../../images/module/bill/ads_bills.gif) no-repeat left top; display: block; position: absolute; left: 14px; top: 50px;color:#fff; text-decoration:none; line-height:21px; padding-left:8px;}
.bill_box ul{ padding: 5px 0;}
.bill_box ul a{ height: 20px; line-height: 20px; padding-left: 4px; _padding-top: 3px; _height: 17px; text-decoration: none; display: block; }
.bill_box .i_bill{ width: 8px; height: 10px; margin-right: 5px; margin-left: 0; background-position: -544px -90px; *position: relative; *top: -2px; }
.bill_null{width: 440px; margin: 90px auto;}
.bill_null i,.tips-box i{background: url(../../images/module/bill/ico_global.png) no-repeat;}
.bill_null .i_error{ width: 35px; height: 35px;background-position: -96px -192px ; float: left; }
.bill_null .i_suc{ width: 36px; height: 37px;background-position: -131px -192px ; float: left;}
.bill_null p{ padding-left: 47px;line-height: 200%; }

.bill_list_null{ line-height: 2; padding: 15px  0 40px 15px;}
.bill_list_null h2{ font-size: 14px; font-weight: bold; padding-left: 3px;}
.bill_list_null p{ padding-left: 3px;}
.bill_list_null img{ margin-top: 7px;}
.tit{ font-size: 14px; font-weight: bold; color: #333;}
.tip{ color: #666;}
.bill_null button,.manage_home .box button{ padding: 4px 5px; line-height: 100%; margin-top: 2px; vertical-align: middle;}
.subnav{ line-height: 33px; padding-left: 10px;}
.subnav span{ font-size: 14px; font-weight: bold;}

.manage_home{ background: #fff;}
.manage_home .ads{height: 75px; border-bottom: 1px solid #e5e5e5; margin: 5px 5px 0; background: #f5f5f5; position: relative;}
.manage_home .ads .close{ width: 7px; height: 7px; display: block; background: url(../../images/module/bill/ico_global.png) no-repeat -85px -151px; position: absolute; top: 10px; right: 10px;}
.manage_home .ads p{ font-size: 14px;}
.manage_home .ads .li{ width:210px; padding-top: 17px;}
.manage_home .ads span{ float: left; padding-left: 15px;}
.manage_home dl{ padding: 0 15px; position: relative;}
.manage_home ul{ padding: 0 15px 60px;}
.manage_home dt{ border-bottom: 1px dotted #ccc; padding: 8px 0 8px 3px; font-size: 14px; color: #333; font-weight: bold;}
.manage_home .box{width: 380px; line-height: 150%; padding: 20px 10px 20px 0;position: relative; display: inline-block; }
.manage_home .box{ *display: inline;}
.manage_home .box i{ background: url(../../images/module/bill/ads_bills.gif) no-repeat; width: 124px; height: 87px; float: left; }
.manage_home .bill_sever i{ background: url(../../images/module/bill/bill_ico.png) no-repeat;}
.manage_home .box .bill_img1{ background-position: 0 -240px;}
.manage_home .box .bill_img2{ background-position: 0 -327px;}
.manage_home .box .bill_img3{ background-position: 0 -414px;}
.manage_home .box .bill_mobil{ background-position: 0 0; width:58px; height:60px;}
.manage_home .box .bill_traffic{background-position:-256px 0; width:59px; height:60px; }
.manage_home .box .bill_career{background-position:-64px 0; width:58px; height:59px;}
.manage_home .box p{ padding-left: 135px;}
.manage_home .box p span{ padding-right: 12px;}
.manage_home .box .tit{padding: 0 0 5px 70px; }
.manage_home .box .tip{padding: 0 0 5px 70px; }
.manage_home .box a{padding-left: 10px; text-decoration: none; }
.manage_home .box .i_open{ width: 24px; height: 24px;margin-right: 5px; background-position: -149px -240px ;vertical-align: middle; margin-top: 2px; _margin-top: 0; position: absolute; left: 106px; bottom: 16px; _bottom: 15px; }

.tips_top{ height: 26px; line-height: 26px; border-bottom: 1px solid #ccc;  text-align: center; background: #fffee9;}
.tips_top span{ padding: 0 8px; color: #cccccc;}
.manage_home .tips_top{border-bottom: none;}
.bill_tip{ padding: 5px 0 0 40px; line-height: 150%;}
.bill_tip input{ position: relative; top: 2px;}
.bill_tip p{ color: #666;}
.bill_tip p b {color: #333; display: block; padding-bottom: ;3px;}

.tips-box{margin:30px 15px 0 15px; padding-top: 10px;}
.tips-box strong{ padding-bottom: 10px; display: block;}
.tips-box i{ width: 16px; height: 16px;background-position: -48px -48px ; vertical-align: middle; margin: -3px 5px 0 0;}
.tips-box p{margin: 0 0 5px 20px; color: #999;} 
.tips-box img{vertical-align: middle;}

.rlfix{display: none;}


.toolBar139{width:100%;height:33px;color:#137700;background-repeat:repeat-x;position:relative;z-index:2;font-size:12px;text-align:left;display:block;background-position:left -374px}
.tollBar139_line{padding:5px 0 3px 10px;_padding-bottom:0;}
.toolBar139 ul{margin:0px;padding:0px;list-style:none}
.toolBar139 li{float:left;line-height:24px;height:24px;display:inline;margin-left:-1px;position:relative;}
.toolBar139 li a{float:left;height:19px;*height:18px;_height:20px;line-height:normal;padding:5px 12px 0;*padding:6px 12px 0;_padding:4px 10px 0;cursor:pointer;color:#000;text-decoration:none;position:relative;}
.toolBar139_main li a{background:url(../../images/module/bill/mutualBtn.png) 0 -132px repeat-x;overflow:hidden;}
.toolBar139_main li a:hover{background-position:0 -105px;}
.toolBar139_main li a .dot_ddl{_margin:5px 0 0 4px;}

.toolBar139_main li a .l_border,.toolBar139_main li a .r_border{position:absolute;height:24px;width:3px;background:url(../images/mutualBtn.png) no-repeat;}
.toolBar139_main li a .l_border{background-position:0 -26px;left:0;top:0;}
.toolBar139_main li a .r_border{background-position:-3px -26px;right:0;top:0;}
.toolBar139_main li a:hover .l_border{background-position:0 0;}
.toolBar139_main li a:hover .r_border{background-position:-3px 0px;}
.toolBar139_main li a.select{background-position:0 -186px;background-repeat:repeat-x;}
.toolBar139_main li a.select .l_border{background-position:0 -78px;}
.toolBar139_main li a.select .r_border{background-position:-3px -78px;}
.toolBar139_main li a.gray{background-position:0 -159px;background-repeat:repeat-x;color:#999;cursor:default;}
.toolBar139_main li a.gray .l_border{background-position:0 -52px;}
.toolBar139_main li a.gray .r_border{background-position:-3px -52px;}


.btn_normal{color:#137700;font-size:12px;text-align:left;display:inline-block;  }
.manage_home .box .btn_normal{padding: 0 0px 0 70px; vertical-align: middle; margin-top: -3px; margin-top: -6px\9;}
.btn_normal{*display: inline;}
.pb_3{padding-bottom:3px!important;}
.btn_normal ul{margin:0px;padding:2px 0;list-style:none; }
.btn_normal li{float:left;line-height:23px;height:23px;display:inline;margin-left:-1px;position:relative;z-index:5}
.import-cts .btn_normal li{ width: auto;}
.btn_normal li a,.pb-Btn{white-space: nowrap;float:left;height:19px;height:18px\0;line-height:normal;padding:4px 12px 0; padding:5px 12px 0\0;cursor:pointer;color:#333;text-decoration:none;position:relative;}
.btn_main{ *float: left;}
.btn_main li a,.pb-Btn{background:url(../../images/module/bill/mutualBtn.png) 0 -132px repeat-x;overflow:hidden; font-weight: bold;}
.btn_main li a:hover,.pb-Btn:hover{background-position:0 -105px; text-decoration: none; color: #333;}
.btn_main li a .dot_ddl,.pb-Btn .dot_ddl{_margin:5px 0 0 4px;}

.btn_main li a .l_border,.btn_main li a .r_border,.pb-Btn .l_border,.pb-Btn .r_border{position:absolute;height:24px;width:3px; margin: 0;background:url(../images/mutualBtn.png) no-repeat;}
.btn_main li a .l_border,.pb-Btn .l_border{background-position:0 -26px;left:0;top:0;}
.btn_main li a .r_border,.pb-Btn .r_border{background-position:-3px -26px;right:0;top:0;}
.btn_main li a:hover .l_border,.pb-Btn:hover .l_border{background-position:0 0;}
.btn_main li a:hover .r_border,.pb-Btn:hover .r_border{background-position:-3px 0px;}
.btn_main li a.select,.pb-Btn.select{background-position:0 -186px;background-repeat:repeat-x;}
.btn_main li a.select .l_border,.pb-Btn.select .l_border{background-position:0 -78px;}
.btn_main li a.select .r_border,.pb-Btn.select .r_border{background-position:-3px -78px;}
.btn_main li a.gray,.pb-Btn.gray{background-position:0 -159px;background-repeat:repeat-x;color:#999;cursor:default;}
.btn_main li a.gray .l_border,.pb-Btn.gray .l_border{background-position:0 -52px;}
.btn_main li a.gray .r_border,.pb-Btn.gray .r_border{background-position:-3px -52px;}
.lr_ctrl{_margin-right:-1px;}
.lr_ctrl_line{position:absolute;top:0px;right:0px;display:inline-block;width:23px;height:16px;padding:4px 0;color:#999;}
.mr_5{margin-right:5px;}
.mr_10{margin-right:10px;}
.mr_15{margin-right:15px;_margin-right:14px;}


.lr_ctrl{_margin-right:-1px;}
.lr_ctrl_line{position:absolute;top:0px;right:0px;display:inline-block;width:23px;height:15px;padding:4px 0;color:#999;}
.mr_5{margin-right:5px;}
.mr_10{margin-right:10px;}
.mr_15{margin-right:15px;}
.dot_ddl_toolBar{}
/*原有.dMenu可以清楚了，以下为优化版*/
.toolBar_listMenu{position: absolute; top:22px;left:0;z-index:99;width:120px;border:1px solid #6B6B6B;background:white;box-shadow:1px 1px 2px #CCC;border-radius:0 0 2px 2px;}
.toolBar_listMenu_Hscroll{height:222px;overflow-y:scroll;}
.toolBar_listMenu li{float:none;margin:0;}
.toolBar_listMenu li a{display:block;height:20px;line-height:20px;margin:2px 0;overflow:hidden;color:#000;background:none;float:none;padding:0;}
.toolBar_listMenu li a span{display:block;padding:0 5px;margin:0 5px;line-height:20px;height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.toolBar_listMenu li.line{height:1px;line-height:1px;font-size:0;overflow:hidden;}
.toolBar_listMenu li.line span{display:block;margin:0 5px;height:1px;line-height:1px;font-size:0;border-bottom:1px solid #CCC;overflow:hidden;}
.toolBar_listMenu li a:hover{background:#6B98DA;color:white;}
.toolBar139 li a:hover .mLine139,.toolBar139 li a:link.hover .mLine139{background:url(../../images/module/bill/mLine.gif) right center no-repeat}/*下拉菜单线条*/

.mFont139{float:left; font-weight:100;padding-right:3px}/*菜单文字*/
.mDot139 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../../images/module/bill/min_mail_icons01.gif) repeat scroll -180px -43px;
float:left;
height:22px;
margin:4px 0 0 3px;
width:10px}


.pageStyleBar{float:right;margin:0 0 0 10px!important;}
.pageStyleBar .linkTxt{background:none;padding:5px 7px 5px 7px}
.pageStyleBar .pageStyle,.toolBar139_main .pageStyle:hover{height:17px;padding-top:3px;background:white;border:1px solid #979EA3;background: -webkit-gradient(linear, 0 90%, 0 100%, from(white), to(#E2E2E2));background: -moz-linear-gradient(90%, white, #E2E2E2);}

a.tlBtn_arrow{display:block;color:#000;text-decoration:none;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
a.tlBtn_arrow:hover{color:#000;text-decoration:none}
a.tlBtn_arrow .mDot139,.dot_ddl,.triangle_r{
background:none;
border-style:solid;
border-width:4px 4px 0;
cursor:pointer;
display:block;
height:0;
width:0;
margin:6px 0 0 0px;
float:left;
font-size:0}
.dot_ddl,.triangle_r{
float:none;
display:inline-block;
border-color: #333 transparent;
_border-color:#333 tomato;
_filter:chroma(color=tomato);
vertical-align:text-top;
left:5px;
position:relative;
}
.list td i,.wx-Ico,.zy-Ico{background-image:url(../../images/module/bill/min_mail_icons01.gif);font-size:0;vertical-align:middle;display:inline-block;}
.list table, .list table a{width:100%;color:#525252;}
table.top tr{ background:#ffc}
.list table *{white-space:nowrap;}
.list tr{vertical-align:middle;}
.list th, .list tfoot td{height:20px;line-height:20px;vertical-align:middle;overflow:hidden;zoom:1;}
.list th a, .list td a{text-decoration:none;}
.list th{font-weight:bold;text-indent:.5em;}
.list th a{display:block;padding-left:.2em;}
.list th a:hover,.list th a.select{background:url(../../images/module/bill/mesHead.png) 0 -29px repeat-x!important;}
.list td{height:27px;line-height:27px;overflow:hidden;}
.list .scroll{width:65px;text-indent:10px;}
.list .check{width:30px;text-align:center;}
.list th.check input{margin-top:3px;#margin-top:0;}
.list td.check input{margin-top:5px;#margin-top:1px;}
.list td.subject, .list td.subject a{text-indent:5px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.listBody{position:relative;overflow:hidden;width:100%;}
.listBody caption{padding:7px 5px 7px 3px;text-align:left;}
.mailList caption b{cursor:pointer;font-weight:normal;}
.mailList tr.new5{font-weight:bold;}
.mailList tr.new5 *{color:#222;}
.mailList tr.new5 a:hover{color:#525252;}
.mailList th{cursor:pointer;}
.mailList .check{width:30px;text-indent:0;}
.mailList .lineIco{cursor:move;width:2px;height:11px;margin-top:8px;float:left;display:inline;background:url(../../images/module/bill/min_mail_icons01.gif) -503px -70px no-repeat;}
.mailList th.check a{padding-left:0;}
.mailList td.from, .mailList td.from a, .mailList td.subject a{text-indent:5px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.mailList .date{width:140px;}
.mailList td.date{width:148px;text-indent:1em;color:#A5A5A5;}
.mailList .status{width:22px;border-right:0;cursor:default;}
.mailList .attach{width:15px;cursor:default;}
.mailList .priority{width:20px;cursor:default;}
.mailList .from{width:162px;}
.mailList td.from{width:160px;vertical-align:middle;}
.mailList .size{width:70px;}
.mailList td.date, .mailList td.size{text-align:left;}
.mailList td.size{#width:85px;text-indent:.5em;}
.mailList td.subject a{}
.mailList td.subject span {color: #999999;font-weight: normal;cursor: pointer;}
/*排序图标，11发件人12收件人44主题00日期33大小*/
i.th110, i.th111, i.th120, i.th121, i.th440, i.th441, i.th000, i.th001, i.th330, i.th331{margin-left:2px;width:10px;height:12px;}
/*升序0*/
i.th110, i.th120, i.th440, i.th000, i.th330{background-position:-340px -68px;#background-position:-340px -70px;}
/*降序1*/
i.th111, i.th121, i.th441, i.th001, i.th331{background-position:-300px -68px;#background-position:-300px -70px;}
/*小图标*/
.list th i{position:relative;top:0px;}
.list td i{display:inline-block;margin-left:5px;}
.mailList th.status i{display:block;margin-left:10px;}
.mailList th.attach i{display:block;margin-left:3px; }
.mailList th.priority i{display:block;margin-left:5px;}
.mailList td.status i{margin-top:3px;*margin-top: 8px;}
.mailList td.status i.antivirus1, .mailList td.status i.antivirus2, .mailList td.status i.antivirus3{margin:3px 0 0 5px;}
.mailList td.attach i{margin-top:5px;}
.mailList td.priority i{margin-top:6px;}
/*邮件列表小图标*/
i.statusTh{width:10px;height:11px;background-position:-120px -50px;}
i.emailTh{width:15px;height:11px;background-position:-100px -50px;margin-left:5px!important;}
i.attachTh{width:10px;height:11px;background-position:-140px -50px;position:relative;*top:8px;}
i.priorityTh{width:10px;height:11px;background-position:-18px -51px;float:left;margin:5px 0 0 5px;}
i.grayPriorityTh{background-position:-18px -68px;}
/*状态*/
.star_5{width:15px;height:15px;background-position:-601px -73px;}
.star_6{width:15px;height:15px;background-position:-619px -73px;}
i.status{width:12px;height:15px;background-position:-20px -50px;}
/*定时转发*/
i.status1{width:17px;height:15px;background-position:-280px -50px;position:relative;*top:5px;}
/*已转发、已回复*/
i.status2{width:17px;height:15px;background-position:-260px -50px;}
/*已回复*/
i.status3{width:17px;height:15px;background-position:-240px -50px;}
/*已转发*/
i.status4{width:17px;height:15px;background-position:-220px -50px;}
/*新邮件*/
i.status5{width:17px;height:15px;background-position:-200px -50px;}
/*0草稿6已读（无状态）*/
i.status0, i.status6{width:17px;height:15px;background-position:0 -50px;}
/*发送成功*/
i.status7{width:17px;height:15px;background-position:-80px -150px}
/*发送失败*/
i.status8{width:17px;height:15px;background-position:-101px -150px}
/*发送中*/
i.status9{width:17px;height:15px;background-position:-122px -150px}
/*部分成功*/
i.status11{width:17px;height:15px;background-position:-146px -150px}
/*无附件*/
i.attach0{width:12px;height:15px;background-position:0 -50px;}
/*有附件*/
i.attach1{width:12px;height:15px;background-position:-40px -50px;}
/*优先级缓慢*/
i.priority0{width:12px;height:15px;background-position:0 -50px;}
/*优先级紧急*/
i.priority1{width:12px;height:15px;background-position:-80px -50px;}
/*优先级普通*/
i.priority2{width:12px;height:15px;background-position:0 -50px;}
/*病毒*/
i.antivirus1, i.antivirus2, i.antivirus3{width:20px;height:17px;margin-top:3px;}
/*病毒已清除*/
i.antivirus1{background-position:-260px -90px;}
/*病毒未清除*/
i.antivirus2{background-position:-280px -90px;}
/*可能包含病毒*/
i.antivirus3{background-position:-300px -90px;}
.list th, .list tfoot td{background:url(../../images/module/bill/mesHead.png) repeat-x;}



.btnNormal, .btnStrong:hover, .btnNormal:hover, .btnOver, .list th a, .list th, #pageRead .mailHeader h1, #pageSetVirus .formArea label, #pageSetGarbage .formArea td, #pageSetBase .formArea th, #pageSetBase label, #pageSetReceiveOther .formArea th, #pageSMSRecordManage th, #pageSMSRecordManage label, .pageChangeAnotherName th, .addressList .tab li.on{color:black;}
/*红*/
.content label.off,#pageComposeFax .recive em{color:red;}

i, .addressList .search button, #pageComposeMMS .del, #pageComposeMMS .pageAction a, #pageSMSList .SMSList .search button, #divTab .tab li.home i.home, #divTab .tab .close,#divTab .tab .closeAll{background-image:url('../images/min_mail_icons01.gif');}
#divTab .tab .closeAll{background-position:-391px -278px;position:absolute;right:0;top:10px;width:10px;height:10px;}
#divTab .tab .closeAll:hover{background-position:-405px -278px;}
#divTab .tab .closeAllWrap{margin:2px 0 0 0;height:24px;overflow:hidden;}
/*灰*/
.contentLP a:hover, .contentLP a img{border:1px #cccccc solid;}
p.action, .definiteList table, #pageSMSList .list table, .faxList table{border-top:1px #cccccc solid;}
.list th{border-right:1px #cccccc solid;}
.list th, .list td, .listBody caption, #pageFolder td{border-bottom:1px #E7E7E7 solid;}

.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}


.tipMail, .tipMail2 {
background:none repeat scroll 0 0 #FFFEE9;
line-height:25px;
text-align:center;
}





@charset "utf-8";
html{color:#000;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, p, th, td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset, img{border:0;}
caption, em, strong, th, optgroup{font-style:inherit;font-weight:inherit;}
li{list-style:none;}
caption, th{text-align:left;}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal;}
legend{color:#000;}
input, button, textarea, select, optgroup, option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input, button, textarea, select{#font-size:100%;}
/*reset*/
html{_zoom:expression(function(x){document.execCommand('BackgroundImageCache', false, true);x.style.zoom=1;}(this))}
body{_width:expression(this.parentNode.offsetHeight > this.parentNode.scrollHeight ? '100%' : parseInt(this.parentNode.clientWidth) + 'px');}
table{table-layout:fixed;width:100%;}
th, td{vertical-align:top;}
th{font-weight:normal;text-align:left;}
strong{font-weight:bold;}
em{font-style:normal;}
legend{#margin-left:-7px;}
body, table, input, select, textarea{font-size:12px;font-family:Tahoma, Arial, Helvetica, sans-serif;}
a{cursor:pointer;}
i{overflow:hidden;display:inline-block}
* html i{_zoom:expression(function(ele){ ele.style.zoom = "1";
      var iefixer = document.createElement("b");
      iefixer.className="rlfix";
      ele.parentNode.insertBefore(iefixer,ele);
    }(this));}
.rlfix{#zoom:1;}
.pt5{padding-top:5px;}
/*表单*/
.after:after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.after{#zoom:1;}
#container{#zoom:1;}
#header{position:relative;height:41px;border-bottom: 1px solid #a5a5a5;
background:#F5F5F5;
background: -webkit-gradient(linear, left 70%, left bottom, from(#ffffff), to(#ebebeb));
background: -moz-linear-gradient(top,  #ffffff,  #ebebeb);
background: -o-linear-gradient(left, #ffffff, #ebebeb);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb');
background: linear-gradient(left, #ffffff, #ebebeb);
-moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0);-webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0);box-shadow:1px 1px 5px rgba(0, 0, 0, 0);

}
#wrapper{width:auto;margin-right:215px;}
#content{position:relative;#zoom:1;z-index:2;padding:5px 0;margin-left:215px;margin-right:10px;}
#aside{float:right;width:210px;}
.nav-hd li{float:left;display:inline; margin-left: 10px;position:relative;top:7px;padding:0 20px;height:26px;line-height:26px;font-size:14px;text-decoration:none;}
.nav-hd li.current{padding:0 13px;height:34px;line-height:34px;background-color: #FFF;border:1px solid #a5a5a5;border-bottom:none;}
.nav-hd a{#zoom:1;text-decoration:none;font-size: 12px;color: #666;}
.nav-hd li.current a{font-weight: 700;color: #000;}
.nav-hd .i-lock{margin-left:3px;}
#header p{position:absolute;right:20px;top:10px;}

.icoOpen,.icoClose{width:20px;height:20px;float:left;margin-top:6px;background: url(../images/min_mail_icons01.gif)}



.icoOpen,.icoClose{width:11px;height:11px;display:inline-block;margin:2px 5px 0 0}
.icoOpen{background-position:-459px -91px}
.icoClose{background-position:-480px -91px}
/*账单中心提示框*/
.t-type i{ width: 12px;}
.bus_inf td{text-align:center; line-height:26px;}
.bus_inf td a{ text-decoration:none;}
.car_inqure{width:270px;margin-top:10px;}
.car_inqure td.car_clasy{width:80px; height:36px; line-height:36px;text-align:right;vertical-align:middle;}
.car_inqure td input{width:180px; padding:5px 0; border:1px solid #a5acb2; background:#fff; color:#333;}
.car_bill{width:343px; height:100%;float:right; border-left:1px solid #96a5c6; position:absolute; right:0; top:0; background:url(../../images/module/bill/bil_p.jpg) no-repeat center 20px #f7faff;}
.car_p1{padding:220px 25px 0 38px;}
.car_p2{text-align:right; padding:10px 15px 0 0; color:#666;}

/*  按纽 */
.btn139{float:left;height:19px;*height:18px;_height:20px;line-height:normal;padding:5px 12px 0;*padding:6px 12px 0;_padding:4px 10px 0;cursor:pointer;color:#000;text-decoration:none;position:relative;}
.btn139{background:url(../../images/module/bill/mutualBtn.png) 0 -132px repeat-x;overflow:hidden;}
.btn139:hover{background-position:0 -105px;}
.btn139  .dot_ddl{_margin:5px 0 0 4px;}
.btn139  .l_border,.btn139  .r_border{position:absolute;height:24px;width:3px;background:url(../../images/module/bill/mutualBtn.png) no-repeat;}
.btn139  .l_border{background-position:0 -26px;left:0;top:0;}
.btn139  .r_border{background-position:-3px -26px;right:0;top:0;}
.btn139:hover .l_border{background-position:0 0;}
.btn139:hover .r_border{background-position:-3px 0px;}
.btn139.select{background-position:0 -186px;background-repeat:repeat-x;}
.btn139.select .l_border{background-position:0 -78px;}
.btn139.select .r_border{background-position:-3px -78px;}
.btn139.gray{background-position:0 -159px;background-repeat:repeat-x;color:#999;cursor:default;}
.btn139.gray .l_border{background-position:0 -52px;}
.btn139.gray .r_border{background-position:-3px -52px;}

/* new_我的帐单.html */
.billc_content{width:820px;}
.billc_content .waiting{font-size:14px; padding: 40px 0 40px 20px}
.ads_new{margin-top:2px;}
.ads_new{height: 75px; border-bottom: 1px solid #e5e5e5; margin: 5px 5px 0; background: #f5f5f5; position: relative;}
.ads_new .close{ width: 7px; height: 7px; display: block; background: url(../../images/module/bill/ico_global.png) no-repeat -85px -151px; position: absolute; top: 10px; right: 10px;}
.ads_new p{ font-size: 14px;}
.ads_new .li{ width:210px; padding-top: 17px;}
.ads_new span{ float: left; padding-left: 15px;}
.bill_li{padding:20px 0 0 20px;overflow:hidden;_zoom:1;width:800px;}
.bill_li dt{font-size:14px;font-weight:bold;border-bottom:1px solid #aeaeae;padding-bottom:5px;margin-bottom:25px;}
.bill_li .b_ico{float:left;}
.b_ico{width:60px;height:60px;display:inline-block;overflow:hidden;margin:0 8px 0 5px;}
.bill_li .b_right{width:220px;float:left;}
.bill_li .b_title{font-size:14px;font-weight:bold;} 
.bill_li .b_right p{padding-top:5px;line-height:18px;}
.bill_li .b_right .normal_a{line-height:23px;margin-top:7px;}
.bill_li .b_right .normal_a .no_a{color:#2a4654;}
.bill_li .b_right .normal_a a{text-decoration:none;color:#2a4654;}
.bill_li .b_right .normal_a .btn139{text-decoration:none;color:#000000;}
.bill_li .b_right .normal_a a:hover{text-decoration:underline;}
.bill_li .b_right .btn139{margin-right:8px;}
.bill_li .b_right .normal_a .btn139:hover{text-decoration:none;}
.bill_li .bill_list{float:left;width:400px;padding-bottom:15px; height: 95px;_zoom:1;}

.b_ico{background:url(../../images/module/bill/bill_ico.png) no-repeat;}
.b_ico_huaf{background-position:0 0;}
.b_ico_traffic{background-position:-256px 0;}
.b_ico_pay{background-position:-64px 0;}
.b_ico_water{background-position:-128px 0;}
.b_ico_electricity{background-position:-192px 0;}
.b_ico_ok{width:21px;height:21px;vertical-align:middle;background-position:right 0;margin-right:4px;}
.b_ico_sun{width:15px;height:15px;vertical-align:middle;background-position:-520px -22px;margin-right:4px;}
.b_ico_up{width:9px;height:10px;vertical-align:middle;background-position:-458px 0;}
.b_ico_down{width:9px;height:10px;vertical-align:middle;background-position:-470px 0;}
.b_ico_up2{width:11px;height:11px;vertical-align:middle;background-position:-499px 0;margin:0;margin-left:10px;}
.b_ico_down2{width:11px;height:11px;vertical-align:middle;background-position:-484px 0;margin:0;margin-left:10px;}

.bill_info{border-top:1px solid #aeaeae;width:800px;margin:0 0 0 20px;float:left;padding-top:15px;}
.bill_info h2{font-size:14px;font-weight:bold;}
.bill_info ul{color:#999999;margin-top:10px;}
.bill_info ul li{list-style:decimal;margin-left:45px;_margin-left:51px;}

/* 账单管理弹出层 */
.zd_mag th{background-color:#eef3f7;height:29px;line-height:29px;padding-left:5px;}
.zd_mag td{border-bottom:1px solid #e4e4e4;word-wrap:break-word;word-break:normal;line-height:21px;height:21px;padding:5px 0 5px 5px;}
.zd_mag td.b_top{border-bottom:none;}
.zd_mag td div{padding-top:10px;}
.zd_mag .zd_mag_f .btn139{margin-right:8px;}
.zd_mag .zd_mag_f  span{color:#999999;}
.zd_mag .zd_mag_f  span em{color:#ff7200;}

/* 开通账单 */
.open_zd_l{float:left;width:276px;border-right:solid 1px #d7e1f2;position:relative;padding-top:25px;}
.open_zd_r{float:right;width:350px;text-align:center;padding-top:20px;}
.open_zd_r p{color:#999999;line-height:21px;}
.open_zd_r p.open_zd_title{color:#000000;}

.l_li:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.l_li{zoom:1;}
.li_error{color:red;position:absolute;left:0;top:0;}
.l_li .label{float:left;line-height:22px;width:70px;}
.l_li .element{float:right;width:206px;min-height:22px;_height:22px;margin-bottom:10px;}
.l_li .form_sle{width:178px;}
.l_li .form_text{width:172px;border:1px solid #b1b1b1;height:18px;line-height:18px;padding-left:3px;}
.l_li .l_li_img{margin-top:4px;}

/* 支付宝我的账单 */

.alipay{border:1px solid #cccccc;overflow:hidden;}
.alipay .ali_head {border-bottom:1px solid #cccccc;height:35px;background:url(../../images/module/bill/mesHead.png) 0 13px repeat-x;}
.alipay .nav-hd li{top:0px;height:36px;line-height:36px;margin-left:0;padding:0;width:130px;text-align:center;font-weight:normal;}
.alipay .nav-hd li a{color:#333333;}
.alipay .nav-hd .current{border-right:1px solid #cccccc;border-bottom:none;background:#FFFFFF;border-left:1px solid #cccccc;font-weight:700;}
.alipay .alipay_content{padding-top:10px;}
.alipay .alipay_content th{background:url(../../images/module/bill/mesHead.png) repeat-x;border-bottom:#e4e4e4 1px solid;height:22px;line-height:22px;border-top:#e4e4e4 1px solid;padding-left:10px;font-weight:bold;}
.alipay .alipay_content th:hover{background-position:0 -28px;}
.alipay .alipay_content td{background-color:#FFFFFF;height:21px;line-height:21px;border-top:#e4e4e4 1px solid;padding:5px 0 5px 10px;color:#4c4c4c;}
.alipay .alipay_content td a{color:#4c4c4c;}
.alipay .alipay_content th.al_br{border-right:#e4e4e4 1px solid;}
.alipay .alipay_content tr:hover td{background-color:#f3f6fa;}
.alipay .alipay_content td.t_center div{text-align:center;position:relative;padding-bottom:20px;padding-left:0;}
.alipay .alipay_content td.t_center .pso_dwon{position:absolute;right:30px;bottom:20px;}
.alipay .billc_content{width:100%;}
.alipay .billc_content .bill_li{width:100%;padding-left:0;}
.alipay .billc_content .bill_li .bill_list{width:50%;padding-left:0;}
.alipay .billc_content .bill_li_padding{padding:15px;}