
/*日历列表插件*/
.calendarPlugin{width:328px; padding:0;}
.calendarPlugin_top{height:32px; line-height:32px; background-color:#eee; border-bottom:1px solid #e8e8e8; text-align:center;}
.calendarPlugin_time, .calendarPlugin_timeS{margin:0 23px; font-size:14px; width:85px; display:inline-block;}
.calendarPluginTable, .calendarPluginTable_other{border-collapse:collapse; table-layout:fixed; width:100%;}
.calendarPluginTable th{color:#999; height:26px; border-bottom:1px solid #e8e8e8; font-weight:normal;}
.calendarPluginTable td{border:1px solid #e8e8e8; text-align:center; height:46px; cursor:pointer;}
.calendarPluginTable td div, .calendarPluginTable_other td div{height:44px; position:relative; z-index:1; padding-top:2px;}
.calendarPluginTable td span{color:#666; font-family:Arial; font-size:16px; height:20px; line-height:20px;}
.calendarPluginTable td p{height:20px; line-height:20px; color:#c5c5c5;}
.calendarPluginTable .noDay, .calendarPluginTable_other .noDay{background-color:#f4f4f4;}
.calendarPluginTable .noDay span, .calendarPluginTable_other .noDay div{color:#c5c5c5;}
.calendarPluginTable .onDay, .calendarPluginTable_other .onDay{background-color:#2592f8; border:1px solid #2592f8; margin:-1px;}
.calendarPluginTable .onClick, .calendarPluginTable_other .onClick{background-color:#1a75ca !important; border:1px solid #1a75ca; margin:-1px;}
.calendarPluginTable .onDay span, .calendarPluginTable .onDay p, .calendarPluginTable_other .onDay, .calendarPluginTable_other .onClick, .calendarPluginTable .onClick span, .calendarPluginTable .onClick p{color:#fff;}
.calendarPluginTable .onHoverDay, .calendarPluginTable_other .onHoverDay{background-color:#eaf3fc; border:1px solid #a6c7e7; margin:-1px;}
.calendarPluginTable_other td{border:1px solid #e8e8e8; text-align:center; height:86px; cursor:pointer; font-size:20px;}
.calendarPluginTable_other td div{height:86px; line-height:86px; padding-top:0;}