body{font-family:Microsoft Yahei ; font-size:12px;}
table{border-collapse:inherit;}
a:hover{text-decoration:none;}
.c_577{color:#577dc9;}/*蓝色链接*/
.dotted{color:#9da3ad;}/*箭头色*/
.notClor{color:#577acc;}/*蓝色*/
.redClor{color:#ec5568;}/*浅红色*/
.greClor{color:#47a777;}/*淡绿色*/

.opearaNavigatorTitle{font-size:16px; font-weight:normal;color:#333333;background:#f4f4f4; padding:10px 0 10px 55px; position:relative; border-top:1px solid #fff;overflow:hidden; zoom:1;}
.showIcon{background:url(../../../images/module/cloudMail/showIcon.png) no-repeat; display:inline-block;}
.inquire{width:29px; height:29px; background-position:0 0;}
.dealSuc{width:21px; height:20px; background-position:-77px 0;}
.handle{width:29px; height:29px; background-position:0 -33px;}
.wrMesage{width:18px; height:18px; background-position:-56px 0;}
.calenderIcon{width:30px; height:25px; background-position:0 -66px;}
.PayMessage{width:16px; height:20px; background-position:-82px -25px;}
.PayRecords{width:20px; height:20px; background-position:-32px 0;}
.resultWarn{width:30px; height:30px; background-position:-34px -24px;}


.opearDiv{padding-bottom:20px;}
.opearOutLay{padding:25px 0 0 15px; font-size: 14px;}
.opearOutLay .opearTitle{width: 100px; text-align:right; font-size:14px; color:#333; line-height:30px;}
.opearaNavigatorTitle i{position:absolute; left:18px;top: 7px;}
.selection{font-size: 14px;}
.selection .selectBord{width: 127px;position:relative;border:1px solid #b0b9ca; padding:5px; background:#fff; -webkit-border-radius:2px; -moz-border-radius:3px; border-radius:2px;z-index: 2;}
.selection .selectBord span{position:absolute;}
.selection .checkDown{border:1px solid #7194db;}
.selection .selectBord label{position:absolute;left: 10px; top:7px;}
.selection .selectBord  input.provice{border:0; outline:none;width: 80%;}
.mitCheckBox{position:absolute; z-index:4; border:1px solid #b0b9ca; width:137px;margin-top: -1px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
.mitCheckBox li{background: #fff;}
.mitCheckBox li a{display:block;height:25px; line-height:25px; text-decoration:none; padding-left:10px; color:#666;}
.mitCheckBox li a:hover{background:#84a3e1; color:#fff;}

.dealState{float: left;width: 85%;}
.dealState span{padding:8px 20px 4px 20px; margin-right:15px; position:relative; font-size:14px; color:#666; font-weight:bold; display:inline-block; background:#f1f5fe;-webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
.dealState span.checked{background:#84a3e1; color:#fff;}
.dealState span .dealSuc{position:absolute; right:-5px; bottom:-5px;}

.unitBox{width: 282px;position:relative;border:1px solid #c4cad4;padding:7px; background:#fff; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;z-index: 2;}
.unitBox b{position:absolute; font-weight:normal;}
.unitBox .unitInput{ width:200px; border:0; outline:0;}
.unitBox .accountInput{width:100%;}
.unitDotted{border-left:1px solid #d8d8d8; text-decoration:none; display:inline-block; width:20px; height:21px; vertical-align:middle; position:absolute; right:1px; top:5px;}
.unitDotted em{color:#9da3ad; font-size:12px; margin-left:6px;}
.unitDotted .e-sj{margin-left: 7px;}
.btnMaginLeft{margin-left:100px;}
.unitDownMenu{width:296px; z-index:3;}
.unitDownMenu li a{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.setState{font-size:16px; color:#333333; margin:15px;}
.setState span{color:#0fa316;}
.writeMessageTitle{position:relative; background:#84a3e1; padding:5px 30px 1px 30px;margin:0; overflow:hidden; zoom:1;}
.writeMessageTitle i{position:absolute; top:7px;}
.writeMessageTitle strong{color:#fff; font-size:14px;margin-left:26px;line-height: 26px;}
.unitBox .calender{position:relative; top:-2px;}

/*日历*/
.dropDown-daySet{width: 94px;position:relative;border:1px solid #b0b9ca; text-align:center; padding:5px; background:#fff; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;z-index: 2;}
.dropDown-daySet em{color:#666; font-size:14px;}
.dropDown-mailsettext{padding: 7px 5px 0 5px;color: #ccc;}
/*交易详细tab*/
.transaction .detailsTab{width: 100%;}
.transaction .detailsTab th,.transaction .detailsTab td{color:#505050; text-align:center;border-top:1px solid #dedede; overflow:hidden; zoom:1;}
.transaction .detailsTab tr:hover{background:#f8f8f8;}
.transaction .detailsTab td{padding: 8px 0;}
.transaction .detailsTab td.btom{border-bottom:1px solid #dedede;}
.transaction .detailsTab .brBod{border-right:1px solid #dedede;}
.transaction .detailsTab th.brBod{border-right:1px solid #dedede;}
.transaction .detailsTab th{color:#4e5053;font-size:14px; font-weight:normal; *filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,EndColorStr='#f7f7f7',StartColorStr='#ffffff');
}
.transaction .detailsTab .follBg{padding: 8px 0;
    background: -moz-linear-gradient(top,#ffffff,#f7f7f7);
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#ffffff),to(#f7f7f7));
    background: -o-linear-gradient(top,#ffffff,#f7f7f7);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,EndColorStr='#f7f7f7',StartColorStr='#ffffff');
    background: linear-gradient(#ffffff 0%,#f7f7f7 100%);
}
.checkedEnter .checkOPut{padding:3px; background:#fff; border:1px solid #d7d7d7; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
.checkedEnter .checkOPut input{width:196px; border:none; outline:none; font-size:12px;}
.vocational{margin:0 10px; border-bottom:1px solid #eaeaea;}
.userInformation{margin:20px 0 10px 40px;}
.userInformation li{line-height:30px; color:#4e5152; font-size:14px;}
/*页面切换*/
.pagePrive{margin-right: 181px; padding:10px 0;line-height: 29px;}
.pagePrive .pageList li{float:left; font-size:14px; margin-right:10px;}
.pagePrive .pageList li a{color:#666;}
.pagePrive .pageList li input{width:32px; padding:4px 0px;}
.pagePrive .pageList li button{border:1px solid #ababab; height:26px; line-height:24px; padding: 0 6px 2px 6px;-webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;
    background: -moz-linear-gradient(top,#ffffff,#f2f2f2);
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#ffffff),to(#f2f2f2));
    background: -o-linear-gradient(top,#ffffff,#f2f2f2);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1,EndColorStr='#f2f2f2',StartColorStr='#ffffff');
    background: linear-gradient(#ffffff 0%,#f2f2f2 100%);
}
.pagePrive .pageList li span {color:#333333; font-size:12px;}
.Immediate{padding:18px 25px 20px 0;}
.noResult{margin:30px 0 100px 100px;}
.noResult .resultsDl{color:#bfbfbf; font-size:12px; margin:10px 0 10px 40px;}
.noResult .resultsDl .title{color:#505153; font-size:18px; }
/*支付方式*/
.limited-coupon{border:3px solid #dedede;display: inline-block;}
.checkOn{border:3px solid #e55b44; position:relative;}
.checkOn .dealSuc{position:absolute; right:-8px; bottom:-8px;}

/*三角型 包含兼容IE6样式class放在最下面*/
.triangle{width:0;height:0;font-size:0;overflow:hidden;border-style:solid;}
/*蓝色朝下*/
.t_blackDown{display:inline-block;border-width:5px 5px  0px 5px;border-color:#9da3ad transparent transparent transparent;
	_border-left-color:#9da3ad!important;
	_border-right-color:#9da3ad!important;
	_filter: chroma(color='#9da3ad')!important;
}


.i-c-jtwz,.i-c-zddz{width:29px;height:29px;background:url(../../../images/module/cloudMail/police.png) no-repeat; display:inline-block;position:absolute; left:18px;}
.i-c-zddz{background-position: -31px 0;}
.tab_gray{width: 100%;text-align: center;}
.tab_gray th{background:url(../../../images/module/cloudMail/police.png) repeat-x 0 -32px;height: 32px;border: 1px solid #d9d9d9;border-left: 0;}
.tab_gray td{border: 1px solid #d9d9d9;border-left: 0;padding:10px;}
.tab_gray .td7{border-right: 0;}

/*交通*/
.trafficInformation{width:300px; margin-top:50px;}
.trafficInformation p{line-height:22px; color:#666;}
.trafficInformation p.severseCompany{text-align:right; margin:10px 35px 0 0;}
.trafficTitle{font-size: 18px;color: #555555;position: relative;top: 15px;left: 30px;}

/* 订阅空白页 */
.recommendBox{width:922px;margin:auto;}
.recommend {border-top: 1px solid #d1d1d1;border-bottom: 1px solid #d1d1d1; *padding-bottom:15px; margin:80px 13px 0 13px;}
.recommendTitle{border-top:1px solid #ffffff; background:#efefef;height:36px;line-height:36px;padding:0 15px;}
.recommendTitle strong{font-size:16px;}
.recommendRead{ margin:15px 0 15px 0; padding:0 50px;float: left;width: 177px;}
.recommendRead dt{_width: 112px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.recommend .brNone{border:0;}
.searchNone{margin:0 auto; margin-top:80px;}
.searHavResult{ font-size:14px; font-weight:normal; margin:30px 0 0px 10px;}
.searchNone p{text-align:center; font-size:16px;}
.startRead{margin:10px 28px 50px 0;}
.recomdendc{padding-left: 15px;}
.searchNone .wrong{border:1px solid #e9e9e9; background:#fafafa; padding:60px 20px; margin:10px;}
.wrongList{width: 600px;color:#999; margin:0 auto;}
.wrongList dd h2{font-size:18px; color:#333; font-weight:normal;}
.wrongList dd{position:relative; top:30px; line-height:22px;}
.wrongList dd ul{margin-top:10px;}
.wrongList dt img{margin-right:10px;}
.wrong .s-s-btn {position: absolute; right: 10px;top: 7px; background-position: -29px -434px;width: 22px;height: 20px;}
.searchNone p.searchResult{font-size:12px; margin:10px 0 0 -99px; margin:10px 0 0 -82px\9;}
/*search*/
.recommendRead .readerNum{color:#999999; padding-bottom:3px;}
.recommendRead dt{padding:0;}
.recommendContent{border: 1px solid #d1d1d1;padding-bottom: 35px;}
.recommendShow{padding:23px 25px 15px 21px; font-weight:normal;}
.recommendShow .moreContent{font-size:14px; color:#0b5fbd;}
.recommendShow span{font-size:18px;}
.recommendContent .recommendRead{padding:0 50px 0 0;}
/*红绿按钮*/
.greenAddBtn{ height:26px;padding: 4px 8px;-webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;
    background: -moz-linear-gradient(top,#69bb68,#4aae49);
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#69bb68),to(#4aae49));
    background: -o-linear-gradient(top,#69bb68,#v);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1,EndColorStr='#4aae49',StartColorStr='#69bb68');
    background: linear-gradient(#69bb68 0%,#4aae49 100%);}
.redDeltBtn{height:26px;padding:4px 8px;-webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;
    background: -moz-linear-gradient(top,#ef605c,#de3b39);
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#ef605c),to(#de3b39));
    background: -o-linear-gradient(top,#ef605c,#v);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1,EndColorStr='#de3b39',StartColorStr='#ef605c');
    background: linear-gradient(#ef605c 0%,#de3b39 100%);}
.carCperation{margin:9px;}
.carCperation a{ color:#fff;}
.carCperation a i{margin-right:5px;}
.carInformation th,.carInformation td{border-right:1px solid #d9d9d9;}
.carInformation .bdNone{border:none;}
/*红绿按钮IE9bug*/
.greenAddBtn{background-color:#69bb68;}
.redDeltBtn{background-color:#ef605c;}
.greenAddBtn .i-add, .redDeltBtn .i-delte{margin:0 !important; padding-right:5px;}

.unit .carPlate{border:1px solid #b0b9ca;display: inline-block; padding:6px 15px; margin:0 15px 10px 0; color:#666666; position:relative;}
.unit .rihgtChecked{border:1px solid #43a503;}
.unit .rihgtChecked .i-rightCheck{ position:absolute; right:-8px; bottom:-6px; z-index:1;}
.moreLook{background:#7298e4;color:#fff; padding:5px 8px; position:relative; top:6px;}







