
/* CSS Document */
html,body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,select,textarea,button,th,td,blockquote,address,var,pre{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,input,textarea,select,button,label{font-size:100%;}
button,select,textarea,input{vertical-align:middle;color:#333;}
input[type=button],input[type=submit],input[type=reset],input[type=file],button{cursor:pointer;overflow:visible;width:auto;}
button{padding:3px 5px 2px;}
textarea{resize:vertical;}  /* word-wrap for opera, resize for webkit */
a{color:#3975d3;text-decoration:none;}
a:hover{text-decoration:underline;}
ul,ol{list-style:none outside none;}
img,fieldset{border:none;}
img{overflow:hidden;vertical-align:top;}
em,address,var{font-style:normal;}
sup,sub{vertical-align:baseline;}
table{border-collapse:collapse;border-spacing:0;}
i{display:inline-block;} /*用于修饰性小图标*/
.imgInfo:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.imgInfo{zoom:1;padding: 80px 0 0 180px;}
.imgInfo .imgLink{float:left;margin-right:7px;}
.imgInfo dl{overflow:hidden;zoom:1;}
.imgInfo dt{color: #5285d4;font-size: 20px;}
.c_000{color:#000!important;}
.gray{color:#999;} /* 灰色字或单个链接 */
.black{color:#333;} /* 黑色 */
.red{color:#c00;} /* 红色 */
.c_666{color:#666;}
.c_999{color:#999;}
.c_ff6600{color:#fe6600;}
.c_009900{color:#009900;}
.c_0066cc{color:#0066cc;}
.c_e50707{color:#e50707;}/*红色*/
.mt_5{margin-top:5px;}
/* ================================================ 字体样式 ================================================ */
body{background-color:#fff;color:#333;font:12px/1.5 "Microsoft YaHei",Verdana;} 
body.postBlueBg{background:#edf4fa;}
.content {width:900px; margin:0 auto;}
.titlebg{background: url(../../../images/module/cloudMail/title.jpg) no-repeat;width: 880px;height: 41px;color: #FFF;font-size: 20px;;padding-left: 20px;line-height: 41px;}
.header {width:900px; height:96px; margin:0 auto;}
.logo {height:96px;}
.logo a span { display:none; z-index:999; width:56px; height:20px; position:absolute; margin:0 0 0 259px; top:40px; background:url(../Images/comeback.jpg) no-repeat;}
.logo a:hover { text-decoration:none;}
.nav {width:649px; height:50px; padding-top:46px; text-align:right; float:left;}
.i-ok{background: url(../../../images/module/cloudMail/ok.jpg) no-repeat; width: 42px;height: 46px;}
.i-nook{background: url(../../../images/module/cloudMail/no_ok.jpg) no-repeat; width: 41px;height: 46px;}
.oIcon{background:url(../../../images/module/cloudMail/oIcon.png) no-repeat;_background:url(../../../images/module/cloudMail/oIcon8.png) no-repeat; display:inline-block;}
.i_right,.i_question,.i_warn{width:38px;height:38px;}
.i_right{background-position:0 0;}
.i_question{background-position:-40px 0;}
.i_warn{background-position:-80px 0;}
.bBtn,.gBtn{background:url(../../../images/module/cloudMail/iconBtn.png) no-repeat; display:inline-block;}
.bBtn{background-position:0 0; width:97px; height:40px;line-height:40px;text-align:center;}
.gBtn{background-position:0 -48px;width:97px; height:40px;line-height:40px;text-align:center;}
.btn{margin:60px 0 0 80px;}
.btn a{font-size:18px; color:#fff; margin-right:32px;}
.btn a:hover{text-decoration:none;}
.btn .gBtn{color:#666666;}

.content_box {clear:both; min-height:310px; _height:310px; border:1px solid #eaeaea; border-top:0; background:#fff;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}
.content_box .dear {height:65px; line-height:65px; clear:both; padding-left:35px;}
.input1 {border:1px solid #ccc; width:363px; height:26px; line-height:26px; color:#6b6b6b; padding-left:5px; border:1px solid #c2c2c2; font-family:"Microsoft YaHei", "微软雅黑", "黑体"; _font-family:"宋体"; background:url(../Images/input_bg.jpg) repeat-x;}
.footer {clear:both; line-height:30px; font-size:12px; text-align:center;padding-top: 10px; color:#666;}



/*icon*/
.icon{background:url(../../../images/module/cloudMail/serverIcon.png) no-repeat; display:inline-block;}
.i_dowm{background-position:-46px 0; width:95px; height:23px;}
.i_trend{background-position:0 -32px; width:79px; height:31px;}
.i_trend:hover{background-position:0 -64px;}

.newsCenter{margin:20px 0 0 15px;}
.title{height:30px;line-height:30px; font-size:14px; border-bottom:2px solid #a3a3a3; vertical-align:top;}
.title a{margin-left:25px;}
.news a{font-size:14px;color:#195091; text-decoration:none;}
.newsContent .news{padding:15px 0;border-bottom: 1px dotted #ccc;}
.newsContent .news p{color:#666; line-height:20px; font-size:14px;}
.newsContent .news p a{font-size:12px;}
.newsContent .news h3{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.newServer{margin-top:20px;}
.quickServer h2{font-size:14px; margin-top:30px;}
.quickServer h2 span.serTxt{color:#999;font-size:12px; font-weight:normal;}

.trends{float:left; height:145px;border-right:1px solid #ebebeb; padding-right:40px;}
.trentCenter{padding:0 40px;}
.trends ul li{list-style:none; margin:10px 0;}
.trends ul li a{line-height:28px; color:#1e5494; text-align:center; text-decoration:none;}
.trends ul li a:hover{text-decoration:none;}
.trends p{text-align:center; font-size:14px;}
.quickServer .messageServer{ border-right:0; padding-left:40px;}