.tricTop{width:1024px;}
.coundMailRigtTop{width:auto;}
.coundRightFrame{width:779px;}
.applicationOver{width: 785px;}
.newspaperlist{margin: 0 6px 20px 0;}
.application{margin: 5px 0px 10px 0;padding: 10px 0px 10px 5px;}