@charset "utf-8";
html, body {height: 100%;}
a{bblr:expression(this.onFocus=this.blur());/*IE使用*/outline-style:none;/*FF使用*/}
a:hover{text-decoration:none;}
a img{border:none;}
.c_3A80E3{color:#4189e1!important;}
.c_46B50E{color:#00c417;}
.btn:hover em{color:#fff;}
.btn:hover span{color:#fff;}
.coundMailRigtTop .btn:hover em{color:#666;}
.btnview:hover span{color:#666;}
.bdNone{border:none!important;}
/*打分星星*/
.starBox,.starBox em{display:inline-block;width:72px;height:12px;overflow:hidden;vertical-align:-6px;*vertical-align:6px;background:url(../../../images/module/cloudMail2.0/star.png) 0 -12px repeat-x;_background-image:url(../../../images/module/cloudMail2.0/starIE6.png);}
.starBox em{background-position:0 0;vertical-align:6px;width:84%;}
/*云邮局主栏*/
.cloudMailMainContent{padding:12px;}
.cloudMailMainBox{width:775px;}
.fixed-top{position: fixed;bottom: auto;top: 0px;width: 1032px;z-index: 999;margin-top: 0px;}/*菜单滚动样式*/
.fixed-top2{position: fixed;bottom: auto;top: 0px;left:0;width: 100%;z-index: 999;margin-top: 0px;}/*菜单滚动样式*/
.cloudMailMainTabBox h2{height:36px;line-height:36px;font-size: 14px;color: #666;margin-bottom: 10px;}
.cloudMailMainTabBox h2 b{color:#00A704;margin-right:5px;}
.cloudMailMainTabBox .rTxtLinkBox{margin:8px 10px 0 0;_margin-top:10px;font-size:12px;}
.rTxtLinkBox .i-cmConsult,.rTxtLinkBox .i-cmMail{margin-right:5px;vertical-align:middle;}
.rTxtLinkBox a{color:#666;margin:0 5px;}
.cloudMailMainTabBox .serviceAdminLink{margin:7px 10px 0 0;color:#666;}
.serviceAdminLink:hover{color:#3A80E3;text-decoration:none;}
.cloudMailMainTabBox .i-serviceAdmin{vertical-align:-2px;*vertical-align:2px;margin-right:5px;}

.cloudMailMainTab a.menuNam{display:inline-block;height:34px;line-height:34px;text-align:center;color:#666; float:left;}
.cloudMailMainTab a.current .menuNam{height:33px;line-height:32px;border-right: 1px solid #DDD;border-left: 1px solid #DDD;color:#333;background:white;border-top:2px solid #666;text-decoration:none;position:relative;top:-1px;}
.cloudMailMainTab a.current{height: 34px;line-height: 33px;border-right: 1px solid #DDD;border-left: 1px solid #DDD;color: #333;background: white;border-top: 2px solid #666;text-decoration: none; margin-top:-1px;}
.cloudMailMainTab .eaeypop{position: absolute;z-index: 999;background-color: #fafafa;border: 1px solid #ddd;width: 108px;left:-1px;top: 36px;}
.cloudMailMainTab .eaeypop a{color: #333;height:29px!important;border-top:none;line-height: 29px!important;font-weight: 400;padding:0 15px;text-align:left;position:static;}
.cloudMailMainTab .eaeypop a:hover{font-weight: 700;height:29px;line-height:29px;border-top:none;position:static;text-decoration: underline;color: #3d6399;}

.cloudMailMainAutoTab  {/*position:absolute; */*position:static;height:34px;border:1px solid #DDD;font-size:14px; width:1028px; z-index:9999;
	background:#FAFAFA;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F5F5F5');
	background: -moz-linear-gradient(top, #FFFFFF, #F5F5F5);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F5F5F5));
	background: linear-gradient(left, #FFFFFF, #F5F5F5);
}
.cloudMailMainAutoTab a{padding:0 22px;}
.cloudMailMainAutoTab .current a.menuNam{height:33px;line-height:31px;top:0px;}
.cloudMailMainAutoTab .current a.more{height:33px;line-height:31px;top:0px;}
.cloudMailMainTab a.more{display:inline-block;height:34px;line-height:34px;text-align:center;color:#666; float:left;_position: relative;_top: 8px;}
.cloudMailMainTab .current a.more{height:33px;line-height:32px;border-right: 1px solid #DDD;border-left: 1px solid #DDD;color:#333;background:white;border-top:2px solid #666;text-decoration:none;}

/*more*/
.more-show {float: left;position: relative; z-index:9;}
.more-show .it-more{z-index: 9999;}
.it-more{width: 85px;position: absolute;z-index:99;font-size: 14px;top: 34px;right: 0px; background:#fff;border:1px solid #cecece;border-top:0; }
.it-more  a{padding:5px 0; display:block; color:#666; position:relative;}
.it-more  a:hover{background:#e8e8e8; color:#666;}
.it-more a span{padding-left:21px;}

.columnAdminTable{border-top:1px solid #FFF;table-layout:fixed;width:100%;}
.columnAdminTable th a{color:#999;}
.columnAdminTable th a:hover{color:#999;}
.columnAdminTable .columnTitle a{color:#444;}
.columnAdminTable .columnTitle a:hover{color:#444;}
.columnAdminTable th{background:#F8F8F8;height:26px;text-align: center;font-weight:normal;color:#444;}
.columnAdminTable td{height:34px;border-top:1px solid #EDEDED;color:#888;}
.columnAdminTable td .statusOn{color:#888;}
.columnAdminTable td .statusOff{color:#4189e1;}
.columnAdminTable .columnTitle{color:#666;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.columnAdminTable .current .i-cmMail{background-position:-20px -22px;}
.columnAdminTable .current .i-cmSms{background-position:-40px -19px;}
.columnAdminTable  tr.on td{background:#f2f2f2;}

.cloudMailMainJsTab{height:415px;padding:20px 0; margin-left:70px;}
.cloudMailMainJsTab li{display:none;}
.smailCarousel{margin-left:107px;}
.smailCarousel i{width:12px;height:12px;font-size:0;line-height:12px;overflow:hidden;border:1px solid #D5D5D5;margin:0 5px;cursor:pointer;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	background:#E8E8E8;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#f0f0f0');
	background:-webkit-gradient(linear,0% 0,0% 100%,from(#EDEDED),to(#F0F0F0));
	background:-moz-linear-gradient(top,  #EDEDED,  #F0F0F0);
	background:linear-gradient(#EDEDED 0,#F0F0F0 100%);
}
.smailCarousel .current i{border-color:#437EBD;
	background:#5F95CE;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#73a5db', endColorstr='#4a83c0');
	background:-webkit-gradient(linear,0% 0,0% 100%,from(#73A5DB),to(#4A83C0));
	background:-moz-linear-gradient(top,  #73A5DB,  #4A83C0);
	background:linear-gradient(#73A5DB 0,#4A83C0 100%);
}
:root .smailCarousel i,:root .smailCarousel .current i{filter:none;}
.liveServiceBox{}
.liveServiceTit{height:35px;line-height:35px;border-bottom:1px solid #EAEAEA;color:#999;}
.liveServiceTit h2{font-size:16px;color:#333;}
.liveServiceTit .clickBtn{display:inline-block;width:12px;height:12px;line-height:10px;text-align:center;border:1px solid #CCC;margin-left:-1px;}
.liveServiceTit .clickBtnGray{border-color:#E6E6E6;}
.liveServiceTit .clickBtnGray .i-lsLeft{background-position:0 -36px;}
.liveServiceTit .clickBtnGray .i-lsRight{background-position:-7px -36px;}
.liveServiceList{width:791px;border-bottom:1px solid #EAEAEA;padding:15px 0 15px 10px;}
.liveServiceList li{width:95px;float:left;margin-right:18px;}
.liveServiceList .txtTit{font-weight:bold;color:#666;margin-top:8px;}
.liveServiceList .hs{display:none;margin-top:6px;}
.liveServiceList .current .ds{display:none;}
.liveServiceList .current .hs{display:block;}
/* ============== 杂志列表 ============== */

.booklist{padding:0 25px 0 15px;position:relative;zoom:1;}
.booklist-sq{background-color: #f4f6fd;border:1px solid #b6c7e3;margin:0 -1px;}
.booklist .bookli{/*min-height:115px;height:auto!important;height:115px;*/position: relative;border-bottom: 1px solid #e5e5e5;padding:20px 0 20px 0;}
.booklist .bookli .bookli-text{margin-right: 260px;min-height:112px;height:auto!important;height:112px;}
.booklist .bookli .bookli-textm{min-height:28px;height:auto!important;height:28px;}
.booklist .bookli .aoff{position: absolute;right: -37px;bottom:15px;}
.booklist .bookli-on .bookli-text{margin: 0;}
.booklist .bookli.focus{z-index:1000;}

.booklist .bookli p{line-height: 28px;color: #333;font-size: 14px; margin-bottom:1.5em;}
.booklist .bookli .title{padding-bottom: 14px;font-size: 0}
.booklist .bookli .titleh2{display: inline-block;vertical-align: middle;font-size: 18px;font-weight: 700;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 100%;}
.booklist .bookli .norssp{display: inline-block;vertical-align: middle;font-size: 14px;margin-left: 5px;}
.booklist .bookli .titler{font-size: 12px;color: #999;float: left;}
.booklist .bookli .bookli-pic{color: #999;text-align: right;position: absolute;right: 0;top:66px;*top:52px;_right:25px;}
/*.booklist .bookli .pica{border: 1px solid #cfcfcf;padding:3px;}*/
.booklist .bookli.focus{z-index:1000;}
.list-rss .bookli-action .share-a a img{margin:3px 3px 0 0;}
.bookli .bookli-action .share-a a img{margin-top:7px; *margin-top:3px;}
.booklist-sq .bookli .titleh2{color:#1c5ba7; }
.bookli .title-r{float: right;font-size: 12px;margin-top: 5px;margin-right: 10px;_display: inline;}
.tips{position:absolute;background: #FEFEFE;border:1px solid #cecece;padding:3px 6px; color:#666;
	-moz-box-shadow:0 0 5px #cecece;
    -webkit-box-shadow:0 0 5px #cecece;
    box-shadow:0 0 5px #cecece;
}
.tips-text .share-a img {margin:5px 3px 0 0; *margin:1px 3px 0 0;}
/* ============== 杂志列表 ============== */
/* ============== 杂志列表分享那条 ============== */

.tipsshare{z-index:199; padding:0;}
.tipsshare .share-a a{display:inline-block;font-size:12px; color:#666666; padding:6px 8px 4px 8px;text-align: center;}
.tipsshare .share-a a:hover {background: #e8e8e8;}
.share-a .mailShare_11{padding-left:12px!important;}
.share-a .sShare_11{padding-right:12px !important;}

.time-state{padding:10px 10px 5px 10px;}
/* ============== 杂志列表分享那条 ============== */
/* ============== 评论 ============== */
.review{margin:10px 0 20px;_zoom:1; background:#f8f8f8; padding:20px 20px 0;}
.review-text{padding: 5px;border:1px solid #e8e8e8;_zoom:1; background:#fff;}
.review-text textarea {resize:none;width: 100%;height: 70px;font-size:14px; border: 0;outline: none;line-height:25px; overflow-x: hidden;overflow-y: auto;}
.review-btn{padding-top: 7px;margin-bottom: 10px;}
.review-btn .num{font-weight:400;color: #000;font-size: 20px;}
.review-btn .num.red{color: #c00;}
.review-buttom{border: 1px solid #00B615;height: 21px;line-height:21px;width: 68px;text-align: center;color: #FFF;display: inline-block;
background:#00B615;}
.review-buttom:hover{color:#fff;}
.review-list{margin-bottom: 5px;}
.review-list ul{border-top: 1px solid #e5e5e5;zoom:1;}
.review-list ul li{padding:15px 0;color: #999;margin-bottom: -1px;color:gray;word-break: break-all; border-bottom:1px dashed #e8e8e8;}
.review-list ul li .faceImg{border:1px solid #dce5f1;}
.review-list ul li  dl{/*margin-left:50px; */font-size:14px; color:#444;}
.review-list ul li  dl dt .shing{margin-left:10px; color:#999;}
.booklist .review-list ul li .shing,.list-rss-li .review-list ul li .shing {border-radius:3px;padding: 2px 4px;background-color: #fe6600;margin-left: 10px;color: #FFF;}
.booklist .review-list ul li p,.list-rss-li .review-list ul li p{font-size: 12px;color: #000;word-break:break-all; }
/* ============== 评论 ============== */
.list-rss{position: relative;padding: 20px 20px 20px;_zoom:1;}
.list-rss-li {margin-bottom: 15px;border-bottom: 1px solid #e5e5e5;padding-bottom: 15px;}
.list-rss-li h3{font-size: 18px;margin-bottom: 15px;}
.list-rss-img{border:1px solid #cfcfcf;padding:10px 10px 10px 4px;margin-bottom: 10px;}
.list-rss-img a{float: left;margin-left: 6px;display:inline-block;_display:inline;}
.list-rss .titler {font-size: 12px;color: #999;float: left;}
.list-rss .list-rss-Model{position:absolute; top:7px; right:12px;}
.list-rss-Long a{margin-right: 44px;}


.list-rss .bookli-action .share-a a img{margin:3px 3px 0 0;}
.bookli .bookli-action .share-a a img{margin-top:7px; *margin-top:3px;}
.i_consult{width:11px; height:15px; background-position:-272px -193px;}
.i_mail{width:14px; height:11px; background-position:-286px -193px;}


.cloudMailSideBox{width:198px;border:1px solid #E8E8E8;margin-left:12px;}
.cloudMailSideBox h2{height:34px;line-height:34px;font-size:14px;color:#444;border-bottom:1px solid #E0E0E0;border-top:1px solid #F7F7F7;padding:0 15px;font-weight:normal;
	background:#F7F7F7;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#F7F7F7');
	background: -moz-linear-gradient(top, #EEEEEE, #F7F7F7);
	background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#F7F7F7));
	background: linear-gradient(left, #EEEEEE, #F7F7F7);
}
.hotRecommendUl{border-top:1px solid white;background:#F7F7F7;padding-bottom:15px;}
.hotRecommendUl li{margin-top:15px;position:relative;}
.hotRecommendUl li .hotRecTxt{position:relative;top:3px;}
.hotRecommendUl li a{color:#616161;display:block;padding:0 20px;cursor:pointer;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.hotRecommendUl li a:hover{text-decoration:none;}
.hotRecommendUl li .cm-btnBlue{width:42px;display:none;}
.hotRecommendUl li a:hover .cm-btnBlue{display:block;position:absolute;top:20px;left:0px;}
.hotRecommendUl li a:hover .imgStyle{width:50px;height:50px;}
.hotRecommendUl li a:hover .hotRecTxt{top:0;}

.cloudMailSideColBox{border-bottom:1px solid #DEDEDE;width:168px;padding:15px;background:#FAFAFA;overflow:hidden;_zoom:1;}
.cloudMailSideColBox .joinCmBtn{display:inline-block;border:0;width:167px;height:36px;overflow:hidden;font-size:14px;color:white;padding-left:20px;cursor:pointer;background:url(../../../images/module/cloudMail2.0/cloudMail.png) no-repeat;_background-image:url(../../../images/module/cloudMail2.0/cloudMailIE6.png);background-position:0 -53px;}
.cloudMailSideFormBox{}
.cloudMailSideFormBox .textBox{width:125px;height:16px;padding:7px 5px;border:1px solid #DDD;border-right:none;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.cloudMailSideFormBox .placeholder{position:absolute;left:5px;top:7px;*top:10px;font-size:12px;color:#CCC;cursor:text;}
.cloudMailSideFormBox .cmSearchBtn{display:inline-block;width:32px;height:32px;border:1px solid #3EB140;cursor:pointer;
	background:#52C154;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#58C55A', endColorstr='#4CBD4E');
	background: -moz-linear-gradient(top, #58C55A, #4CBD4E);
	background: -webkit-gradient(linear, left top, left bottom, from(#58C55A), to(#4CBD4E));
	background: linear-gradient(left, #58C55A, #4CBD4E);
}
.cloudMailSideFormBox .labelLinkListBox{width:200px;margin-left:-5px;}
.labelLinkListBox a{display:inline-block;color:#4A7FB8;padding:0 8px;line-height:20px;}
.cmRankingListBox{background:#FAFAFA;border-bottom:1px solid #DEDEDE;padding:0 0 20px;}
.cmRankingListBox h2{height:25px;line-height:normal;padding:20px 15px 0;font-size:14px;color:#444;border-bottom:none;
	background:#FAFAFA;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F2F2', endColorstr='#FAFAFA');
	background: -moz-linear-gradient(top, #F2F2F2, #FAFAFA);
	background: -webkit-gradient(linear, left top, left bottom, from(#F2F2F2), to(#FAFAFA));
	background: linear-gradient(left, #F2F2F2, #FAFAFA);
}
.cmRankingListUl{}
.cmRankingListUl li{height:25px;margin-top:10px;}
.cmRankingListUl a{display:block;height:26px;line-height:26px;padding:0 15px;font-size:12px;color:#444;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.cmRankingListUl a:hover{text-decoration:none;}
.cmRankingListUl img{display:inline-block;margin-right:10px;vertical-align:-8px;*vertical-align:middle;}
.cmRankingListUl .nubBox{display:inline-block;width:17px;height:17px;line-height:17px;margin-right:10px;text-align:center;color:white;font-size:12px;background:#D2D2D2;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.cmRankingListUl .nubBoxTop{background:#FFBC50;}

/*主栏图标*/
.i-cloudMailMain, .i-cloudIco, .i-cloudPoint{background:url(../../../images/module/cloudMail2.0/cloudMail.png) no-repeat;_background-image:url(../../../images/module/cloudMail2.0/cloudMailIE6.png);vertical-align:middle;display: inline-block;overflow: hidden;}
.i-serviceAdmin{background-position:0 0;width:16px;height:16px;}
.i-cmMail{background-position:-20px -3px;width:16px;height:12px;}
.i-cmSms{background-position:-40px 0;width:12px;height:16px;}
.i-lsLeft,.i-lsRight{width:4px;height:6px;}
.i-lsLeft{background-position:0 -44px;}
.i-lsRight{background-position:-7px -44px;}
.i-cmConsult{background-position:-14px -36px;width:11px;height:15px;}
.i-cmMail{}
.i-search{width:13px;height:13px;background-position:-86px 0px;}
.i-cdMail{width:14px;height:15px;background-position:0 -19px; margin-right:5px;}
.i-readPaperIc{width:25px;height:23px;background-position:0 -52px; position:absolute; top:10px;left:10px; z-index:3;}
.title-sq{font-size: 12px;color: #999;padding-right:15px;background-position: -130px 3px;position: absolute;right: 0;top: 25px;}
.title-sq:hover{color:#999;}
.i-cloudIco{background-position:-55px -19px; width:16px; height:16px;}
.i-cloudPoint{background-position:-72px -19px; width:3px; height:3px;}

.b-pl,.b-share,.b-save,.b-note,.prev,.next,.i-rightCheck,.i-mailShare,.i-zoneShare,.i-tShare,.i-sShare,.i-sWx,.i-sRr,.b-fav,.i-newFlag,.i-newFlag2,.i-cEc,.i-newWin{background: url(../../../images/module/cloudMail2.0/ico24.png) no-repeat;_background: url(../../../images/module/cloudMail2.0/ico.png) no-repeat;display: inline-block;overflow: hidden;vertical-align: middle;}
.prev,.next{height:52px;width:26px;position:absolute;top:100px;left:0;z-index:99;overflow:hidden;cursor: pointer;margin-top:-25px;z-index:1;}
.rslides_nav.next{left:auto;right:-3px;}
.prev{background-position: -166px 0;}
.next{background-position: -194px 0;}
.i-mailShare,.i-zoneShare,.i-tShare,.i-sShare,.i-sWx,.i-sRr{width:24px; height:24px;margin-bottom: 2px;}
.i-rightCheck{background-position:-209px -205px; width:19px; height:19px;}
.i-mailShare{background-position:0 -84px;}
.i-zoneShare{background-position:-24px -84px;}
.i-tShare{background-position:-48px -84px;}
.i-sShare{background-position:-72px -84px;}
.i-sWx{background-position:-96px -84px;}
.i-sRr{background-position:-120px -84px;}

.i-newFlag{background-position: 0 -178px; width: 24px; height: 28px;}
.i-newFlag2{background-position: -44px -178px; width: 25px; height: 24px;}

.i-cEc,.i-newWin{width:20px;height:20px;}
.i-cEc{background-position:-76px -178px;}
.i-newWin{background-position:-99px -178px;}
/*about*/
.a-phone,.a-mail,.a-qq,.a-clound{width:20px;height:18px;background: url(../../../images/module/cloudMail2.0/about-icon.png) no-repeat;margin-right: 5px;display: inline-block;overflow: hidden;vertical-align: middle;}
.a-phone{background-position:0 0;}
.a-mail{background-position:-24px 0;}
.a-qq{background-position:0 -19px;}
.a-clound{background-position:-24px -19px;}
.aboutClound h3{margin:10px 0;}
.aboutClound  p a{margin-right:50px; color:#666;}

.b-pl,.b-share,.b-save,.b-note,.b-fav{color: #666;padding-left: 21px;margin-left: 20px;}
.b-pl{width:20px; height:21px;padding-left: 1px;}
.bookli-action{padding-top: 10px;font-size: 14px; line-height:20px;}
.bookli-action a:hover{color:#1a75ca;text-decoration: none;}
.bookli-action .b_ml{background-position: -66px -97px;}
.bookli-action .b-pl{background-position: 0 3px;}
.bookli-action .b-share{background-position: 0 -21px;}
.bookli-action .b-save{background-position: 0 -42px;}
.bookli-action .b-note{background-position: 0 -61px;}
.bookli-action .b-fav{background-position: 0 -113px;}
.bookli-action .b-faved{background-position: 0 -141px;}

.bookli-action .b-share:hover{background-position: -72px -21px;}
.bookli-action .b-save:hover{background-position: -72px -42px;}
.bookli-action .b-note:hover{background-position: -96px -61px;}
.bookli-action .b-fav:hover{background-position: -104px -113px;}
.bookli-action .b-faved:hover{background-position: -104px -141px;}

.bookli-action a.b-fav,.bookli-action a.b-note,.bookli-action a.b-share{vertical-align: top;}

.bookli-action a.discuss{color:#666;}
.bookli-action a.discuss:hover{color:#1a75ca;}
.bookli-action a.discuss:hover .b-pl{background-position: -72px 3px;}
/*新云邮局框架右侧头部*/
.coundRightFrame{margin-left:14px; width:1030px;}
.coundRightFrame810{width:810px;}
.bannerT{width:1035px;overflow: hidden;}
.coundMailRigtTop{border-bottom:1px solid #e8e8e8;padding: 10px 14px 9px 14px;  background:#fff;zoom:1;}
.coundMailNewsList{/*width:100%;*/padding:16px 0; border-bottom:1px solid #e8e8e8;position: relative;}
.coundMailNewsList h2{margin:0 0 10px 0;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;word-break: break-all;}
.coundMailNewsList p{line-height:25px;word-wrap: break-word;}
.coundMailNewsList .NewsListContent p{}
.coundMailNewsList .NewsListContent p.mr_200{margin-right: 200px;}
.NewsListContent_icoBtn a:hover .i-cEc{background-position:-122px -178px;}
.NewsListContent_icoBtn a:hover .i-newWin{background-position:-145px -178px;}
.coundMailRigtMain .read h2 a,.coundMailRigtMain .read h2,.coundMailRigtMain .read p{color:#999;}

.newspaperlist .i-readPaperIc{top:0;left:0;}
.coundMailNewsList .NewsListContent{margin-right: 0;font-size:14px;min-height: 70px;height: auto!important;height: 55px;}
.coundMailNewsList .NewsListContent .NewsListdraw a{display:inline-block; margin:0 52px 10px 0;}
.coundMailNewsList .NewsListMarRight{margin-right:0;}/*无图片时样式*/
.coundMailRigtTop .btn{background:#f8f8f8;
background: -webkit-gradient(linear,left top,left bottom,from(#fbfbfb),to(#f4f4f4));
background: -moz-linear-gradient(top,#fbfbfb,#f4f4f4);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#f4f4f4');
background: -o-linear-gradient(top,#fbfbfb,#f4f4f4);
background: linear-gradient(top,#fbfbfb,#f4f4f4);}
.coundMailRigtTop .btn .divider{border-left:0; padding:0 5px;}
.coundMailRigtTop .btn .divider .triangle{margin-top:0px;*margin-top:8px;}
.coundMailRigtTop .btn em{line-height:26px;}
.coundMailRigtTop .searchContact{border: 1px solid #E8E8E8; margin:-2px 0 0 41px; padding: 0 6px;}
/*杂志提示*/
.readMazTips{position:absolute; left:14px; top:37px;z-index: 9999; background:#fdfdfd; border:1px solid #dadada; padding-left:20px;height: 269px; width: 380px;overflow-x: hidden;overflow-y: auto;}
.readMazTips .readMazAll{margin-top:20px;}
.readMazTips .readMazAll a{text-align:center;display:inline-block;margin:0 19px 10px 0; color:#464646; float:left;}
.readMazTips  a b{padding-top:5px;display: inline-block;width: 52px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
/*应用推荐*/
.applicationOver{width:1056px;overflow:hidden;_zoom:1;}
.application{float:left;_display:inline;position: relative; border:1px solid #fff;margin:5px 10px 10px 0; padding:10px 3px 10px 10px;; width:185px;height:75px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.appliHover{background:#eff5fa; border:1px solid #e2eaf1;}
.application dl{margin:5px 0 0 10px;}
.application dl dd{margin-top:5px;}
.ecomdAddApp{margin:0 14px;}
.ecomdAddApp img{overflow:hidden;zoom:1;}
.application dl dt,.application dl dd{width: 100px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.application dl dt a{color:#444;}
.recomdAddApplication{padding:20px 0; border-bottom:1px solid #e8e8e8;}
.recomdAddApplication a{display:inline-block;}
.recomdAddApplication dl dd{margin-top:5px;word-break: break-all;}
.absApl{width:960px; margin-top:-2px; *margin-top:-4px; margin-left:65px;}
.appCenter{width:190px;padding:0; margin:5px 20px 33px 0; border:0; float:left;}
.appCenter .i-readPaperIc{top:0;left:0;}
.cloudMailMainJsTab{padding-top:20px;}
.appCenter dl dd{width: 100px;}
/*左侧菜单*/
.uploadDiv{padding:14px 14px 0; text-align:center;}
.uploadDiv a{display:block; font-size:16px; height:36px; line-height:36px;}
.uploadDiv a i{vertical-align:middle; margin-right:4px;}
.uploadDiv a em{padding-top:5px;}
.listMenu{border-bottom:1px solid #e8e8e8; padding:10px 0 5px;}
.listMenu li{height:28px; padding-bottom:4px; position:relative; zoom:1;}
.listMenu li a{ display:block; color:#444;overflow:hidden; font-size:14px; vertical-align:middle; _zoom:1; height:28px; line-height:28px; padding-left:30px; _height:22px; _padding-top:6px;}
.listMenu li a i{margin:-3px 8px 0 0; *margin-top:1px; _margin-top:-2px;}
.listMenu li a .i_redDot{margin-left: 5px;}
.listMenu li a i.ml18{margin-left:18px;}
.listMenu li a:hover{background-color:#e8e8e8; color:#444; text-decoration:none;}
.listMenu li.on a{text-decoration:none; background:#e8e8e8; color:#444;}
.listMenu li a.borderBtm{border-bottom:1px solid #e8e8e8;}
.listMenu li a.borderTop{border-top:1px solid #fff;}
.listMenu li a.setEnter{position:absolute; right:0; top:0; padding:0; margin:0;}
.listMenu li a.setEnter:hover{background:none;}
.listMenu li a.setEnter	 i{padding:0; margin:0; width:10px; height:10px;}
.downloadDisk{position:absolute; position:fixed; bottom:15px; left:40px; text-align:center;}
.downloadDisk a{display:inline-block; margin-right:20px; text-decoration:none;}
.downloadDisk a span{padding-top:8px; display:block;}
/*左侧导航小图标*/
.icon,.i-file-smalIcion{background:url(../../../images/module/cloudMail2.0/menuicon.png) no-repeat;_background:url(../../../images/module/cloudMail2.0/menuicon8.png) no-repeat; display:inline-block; overflow:hidden; vertical-align:middle;}
.i-newspaper, .i-apply, .i-cdSet, .i-idex, .i-paper, .i-apCenter, .i-clamy,.i-set,.i-fav{width:16px; height:16px;}
.i-newspaper{background-position:0 0;}
.i-apply{background-position:0 -20px;}
.i-cdSet{background-position:0 -40px;}
.i-idex{background-position:0 -59px;}
.i-paper{background-position:0 -80px;}
.i-apCenter{background-position:0 -99px;}
.i-clamy{background-position:0 -119px;}
.i-set{background-position:-39px 0;}

/*
新增 我的收藏 图标
*/
.i-fav{background-position:0 -136px;}

/*
.listMenu .on .i-newspaper{background-position:-20px 0;}
.listMenu .on .i-apply{background-position:-20px -20px;}
.listMenu .on .i-cdSet{background-position:-20px -40px;}
.listMenu .on .i-idex{background-position:-20px -59px;}
.listMenu .on .i-paper{background-position:-20px -80px;}
.listMenu .on .i-apCenter{background-position:-20px -99px;}
.listMenu .on .i-clamy{background-position:-20px -119px;}

.listMenu a:hover .i-newspaper{background-position:-20px 0;}
.listMenu a:hover .i-apply{background-position:-20px -20px;}
.listMenu a:hover .i-cdSet{background-position:-20px -40px;}
.listMenu a:hover .i-idex{background-position:-20px -59px;}
.listMenu a:hover .i-paper{background-position:-20px -80px;}
.listMenu a:hover .i-apCenter{background-position:-20px -99px;}
.listMenu a:hover .i-clamy{background-position:-20px -119px;}
*/
.noLineTop{border-top:none !important;}
.noLineBottom{border-bottom:none !important;}
/*退订记录*/
.rss-exit{margin-top:15px; border:1px solid #eaeaea;}
.rss-exit h3{height:34px; line-height:34px; padding-left:15px; background:#f8f8f8; border-bottom:1px solid #eaeaea;}
.rss-exit .rss-exit-li{padding:20px 25px;}
.rss-exit .rss-exit-li dl{text-align:center;margin-right:35px;height:80px;}
.rss-exit .rss-exit-li dl dt{}
.rss-exit .rss-exit-li dl dd{width: 58px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;margin-top:5px;}
.rss-exit .rss-exit-li dl dd .name{font-weight:bold; color:#333;}
/*首页*/
.setTab-search{border: 1px solid #dddddd;width: 160px;height: 33px;background-color: #FFF;position: relative;zoom:1;}
.setTab-search input.text{border:0;width:118px;padding:8px 0 7px 5px;outline: none;font-size: 12px;}
.setTab-search .s-s-btn{background:#c7c7c7;width: 33px;height: 33px;position:absolute; right:0; top:0;}
.setTab-search .s-s-btn .i-search{margin:10px 0 0 10px;}
.setTab-search .input-text{font-size: 12px;color: gray;position: absolute;height: 25px;display: inline-block;line-height: 25px;padding-left: 8px;left:0;top:0;}
.searBarRight{width:168px;padding: 5px 10px 10px 10px; height:183px; border:1px solid #dfdfdf; background:#ffffff; margin-left:19px;}
.searBarRight h2{font-size:14px; padding-bottom: 5px; border-bottom:1px solid #dfdfdf;}
.searBarRight h2 a{color:#666; font-size:12px; font-weight: normal; margin-top: 3px;}
.searBarRight div{margin-top:10px;}
.searBarRight div a{ /*display:block;*/}
.searBarRight div p a{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;line-height: 25px; color:#666;}

.otherReaderZh{margin:0 0 5px 0;}
.otherReaderZh p{margin:10px 0;}
.otherReaderZh a{margin:0 10px 10px 0; color:#2d63b3;display: inline-block;}
.otherReaderZh a:hover{text-decoration:none; color:#e34101;}
.home{background-position:-66px 0; width:13px;height:13px; _float:left;}
/* ============== 首页幻灯片 ============== */
.indexppt{margin: 0 245px 9px 0; position:relative;}
/* banner焦点图 */
.ready{display: inline-block; width: 819px; float: left;}
.rslides{width:auto;height:200px;overflow:hidden;position:relative;list-style:none;padding:0}
.rslides li{width:100%;}
.rslides li a{display:block;width:100%;}
.rslides li img{display:block;height:201px;width:998px;margin:0 auto;}
.rslides_tabs{clear:both;text-align:center;position:absolute;bottom:10px;right:35px;}
.rslides_tabs li{display:inline;float:left;margin-right:5px}
.rslides_tabs a{text-indent:-9999px;overflow:hidden;display:inline-block;_display:block;*display:block;width:26px;height:5px;font-size:0;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');
	background-color:rgba(0,0,0,0.5);
}
.rslides_tabs .rslides_here a{
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#FFB6A797', endColorstr='#FFB6A797');
	background-color:rgba(182,167,151,1);
}
.EntCoundmailBtn{padding:7px 0;background:#fe8e08; color:#fff; display:block;text-align: center; font-weight:bold;}
.EntCoundmailBtn:hover{text-decoration:none; color:#fff;}
.dropPop{height: 170px;overflow-x: hidden;overflow-y: auto;width: 100px;}
/*图片轮播*/
.mod-slide-show{width:819px; height:100%; position:relative; overflow:hidden;}
.mod-rep-img {position:absolute;margin-right: 2px;}
.setBtn{background-color: #fff;border-top: 1px solid #e8e8e8;height: 32px;padding: 6px 0;width: 100%;z-index: 999;}
.setBtn div{width: 440px;margin: 0 auto;}
.fixed-bottom{position:fixed;bottom:0px;top:auto;}
.fixed-left{position:fixed;right:auto;left:0px;}
.fixed-right {position:fixed;left:auto;top: 15px;_position: absolute;_top:expression(eval(document.documentElement.scrollTop));}
* html, * html body{background-image:url(about:blank);background-attachment:fixed;}
* html .fixed-top{position:absolute;bottom:auto;top:expression(eval(document.documentElement.scrollTop));}
* html .fixed-top2{position:absolute;bottom:auto;top:expression(eval(document.documentElement.scrollTop));}
/*报刊亭*/
.newsTitle{font-size:16px; padding-bottom:8px;}
.newsTitle .newN{display:inline-block;font-size:14px; font-weight:normal; color:#666; margin-left:20px;}
.newsTitle .newN a{color:#333;}
.newsTitle .newN a:hover{text-decoration:none;}
.newsTitle .newN .newhot{color:#ff6600;}
/*按钮*/
.newBton{position: relative;z-index: 2;}
.newBod{border-bottom: 1px solid #fdfdfd;}/*鼠标移上去时添加的样式*/
.newsTitle .newN em{color:#999999; font-size:12px; padding:5px;}
.newsTitle a.more{float:right; font-size:12px; font-weight:normal; color:#666; margin-top:3px;}
.newspaperlist{float:left; position:relative;margin: 0 19px 20px 0;height:190px;overflow:hidden;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}
.newsMazginLiDownBtd{display:block;width:188px;height:46px;overflow: hidden; padding-top:7px;border:1px solid #e8e8e8; border-top:0;}
.newspaperlist .newsMazginLi{width:191px;height:191px;display:inline-block; position: relative;*zoom:1; }
.newspaperlist .newsMazginLi .title,.newsMazginLi .userNum{display:inline-block; width:100%;height: 16px; color:#333;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.newspaperlist .newsMazginLi .userNum{color:#666}
.newspaperOnmouseover{width: 144px;height:156px;border:1px solid #e8e9ea ;position:absolute; left:0;top:0; padding:20px 25px 12px 20px; background:#f3f4f5; z-index: 10;
	-webkit-animation:upSlide .2s linear;
	animation:upSlide .2s linear;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}
.newspaperlist .newsMazginLi .i-newFlag{position: absolute;top:0; right: 4px;}
.newspaperlist .newsMazginLi img{width:188px;height:135px;border:1px solid #e8e8e8;border-bottom:none;}
.applicationOver .application a.fl{ position: relative; *zoom:1;}
.applicationOver .application .i-newFlag2{position: absolute;top:0; right: 0;}
/*@media screen and (-webkit-min-device-pixel-ratio:0) {.newspaperOnmouseover{ height:146px; }*/
.newspaperOnmouseover h3{font-size:14px; width: 145px;text-overflow: ellipsis;white-space: nowrap; cursor:pointer;}
.newspaperOnmouseover h3 a{color:#444;}
.newspaperOnmouseover p{}
.newspaperOnmouseover p.content{height:66px; line-height:20px; ,argin-top:5px; overflow:hidden;}
/*应用中心*/
.columnBod{ border-bottom:2px solid #eaeaea;position:relative;}
.columnBod .i-readPaperIc{left:0; top:0;}
.columnBod dl dt{margin-bottom:5px;}
.newAplComd{width:258px;height: 158px;padding:20px;border:1px solid #dfdfdf; border-left:0;}
.newAplComd dl{width:152px;}
/*搜索无结果*/
.addr-imgInfo {width: 390px;margin:200px auto 0 auto;}
.addr-imgInfo dt{}
.addr-imgInfo dd{padding:10px 0; font-size:14px; color:#666;}
.addr-imgInfo .imgLink{margin-left: 20px;}
/*交通违章*/
.tricPtop{position: absolute;top: 0;left:0;right:0;z-index: 2;}
.tricHead{border-bottom:1px solid #b5b8b3;height:60px;}
.tricTop{width:1280px; margin:0 auto; height:80px; position:relative; }
.tricTop img{border:0;}
.tricTopMenu{text-align:center;padding-left:5px;margin-top:-33px;}
.tricTopMenu li{display:inline-block;*display:inline; /*margin-left:-4px;*/ position:relative;}
.tricTopMenu a.menu{width: 85px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; outline:none;font-size: 14px;padding:5px;background:#f9f9f9; color:#464646; border:1px solid #d4d4d4;border-bottom:0; border-right:0; display:inline-block; }
.tricTopMenu a.check{background:#fafafa;border-top:2px solid #2592f8;}
.tricTopSecondMenu{width:1280px;position:absolute;left: 50%; top:33px;margin-left: -640px;padding:10px 0; z-index:1;}
.tricTopSecondMenu span{color:#e1e1e1;position: absolute;top: 11px;}
.tricTopSecondMenu a{color:#464646; font-size:14px;display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 90px;margin:0 10px;}
.tricTopSecondMenu a:hover{color:#057ded;}
.onOverborder{border-bottom:1px solid #e8e8e8; background:#fff;padding-bottom: 40px;}
/*邮件服务页*/
.tricSet{width:440px;margin:0 auto;}
.setArea{padding-top:20px;}

.setArea h2{font-size:14px;border-bottom:2px solid #dfdfe2;padding:0 0 3px 10px;}
.setForm .bgef{background-color:#efeff0;}
.setForm{padding-top:0px;}
.setForm .formLine{padding:14px 0;margin-bottom:0px;margin-top:-1px;}

/*引入seek中交通违章的样式*/
.opearDiv{padding-bottom:80px;}
.opearOutLay{padding:25px 0 0 15px; font-size: 14px;}
.opearOutLay .opearTitle{width: 100px; text-align:right; font-size:14px; color:#333; line-height:30px;}
.opearaNavigatorTitle i{position:absolute; left:18px;top: 7px;}
.selection{font-size: 14px;}
.selection .selectBord{width: 127px;position:relative;border:1px solid #b0b9ca; padding:5px; background:#fff; -webkit-border-radius:2px; -moz-border-radius:3px; border-radius:2px;z-index: 2;}
.selection .selectBord span{position:absolute;}
.selection .checkDown{border:1px solid #7194db;}
.selection .selectBord label{position:absolute;left: 10px; top:7px;}
.selection .selectBord  input.provice{border:0; outline:none;width: 80%;}
.mitCheckBox{position:absolute; z-index:4; border:1px solid #b0b9ca; width:137px;margin-top: -1px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
.mitCheckBox li{background: #fff;}
.mitCheckBox li a{display:block;height:25px; line-height:25px; text-decoration:none; padding-left:10px; color:#666;}
.mitCheckBox li a:hover{background:#84a3e1; color:#fff;}
.setState{font-size:16px; color:#333333; margin:15px;}
.setState span{color:#0fa316;}
.writeMessageTitle{position:relative; top:4px; background:#84a3e1; padding:5px 30px 1px 30px;margin:0; overflow:hidden; zoom:1;}
.writeMessageTitle i{position:absolute; top:7px;}
.writeMessageTitle strong{color:#fff; font-size:14px;margin-left:26px;line-height: 26px;}
.unitBox .calender{position:relative; top:-2px;}
.showIcon {background: url(../../../images/module/cloudMail/showIcon.png) no-repeat;display: inline-block;}
.wrMesage{width:18px; height:18px; background-position:-56px 0;}
.unit .carPlate{border:1px solid #b0b9ca;display: inline-block; padding:6px 15px; margin:0 15px 10px 0; color:#666666; position:relative;}
.unit .rihgtChecked{border:1px solid #43a503;}
.unit .rihgtChecked .i-rightCheck{ position:absolute; right:-8px; bottom:-6px; z-index:1;}
.moreLook{background:#7298e4;color:#fff; padding:5px 8px; position:relative; top:6px;}
.blueBtn{background:#7298e4;display: inline-block; border:1px solid #6c8ed3; padding:5px 25px; font-size:16px; text-decoration:none; color:#fff;-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; text-shadow:0px 1px 3px #3c68cb;}

.trificRead{margin:0 auto; width:1024px;}
.trificRead .title-sq{top:30px;}
.trificRead .NewsListContent{/*margin:0;*/}
/*下拉菜单*/
.menuDownPop{width:100%;border:1px solid #cecece; background:#fff; position:absolute; top:-6px; left:0;}
.menuDownPop li a{height: 24px;line-height: 24px;display: block;color: #000;text-align: left;padding-left: 20px;vertical-align: baseline;_zoom: 1;position: relative;}
.menuDownPop li a:hover{background-color:#deedfa;color:#666;text-decoration:none;}
.menuDownPop li a.check{background-color:#deedfa;}
/*服务管理*/
.toolBarSort{margin:0 14px 20px 14px;background:#ffffff; border-bottom:1px solid #e0e0e0; padding: 10px 0 8px 0;}/*全局样式*/
.toolBarPaging{}
/*幻灯片播放*/
.imgOpen, .pivBrower .imgOpen:hover{position:absolute; right:6px; top:6px; z-index:99; background:url(../../../images/module/cloudMail2.0/picture_icon_01.png) no-repeat 0 -200px; width:68px; height:26px; padding-left:29px; line-height:26px; color:#333; text-align:left; text-decoration:none;font-size: 12px;}

.toolBarPaging{margin-top:0;}
/*支付成功*/
.paySuccessful{width:520px; height:200px; margin:auto;}
.paySuccessful table {width:100%;border:1px solid #dfdfe1;border-right:0;}
.paySuccessful table tr th{background:#fbfbfc;border-bottom:1px solid #dfdfe1; text-align:left;}
.paySuccessful table tr th,.paySuccessful table tr td{padding:5px 10px;; border-right:1px solid #dfdfe1;}

.paySuccessful-outer{width: 608px; height: 323px; margin:32px auto 0; background:url(../../../images/module/cloudMail2.0/chargeSuc.png) no-repeat 0 0; padding-top: 69px; }

.submitSuccessful-outer{ width: 350px;margin:32px auto 0; }
.submitSuccessful-outer .topline{ height: 5px; background-color: #60c26b;  border-radius: 3px;}
.submitSuccessful{background:url(../../../images/module/cloudMail2.0/resultBg.png) no-repeat 0 0; width: 336px; height: 217px;margin:auto; }
.submitSuccessful h2 i{ vertical-align: top;}
.submitSuccessful h2 strong{font-weight: 300;}
.submitSuccessful h2 {padding-top: 52px; padding-bottom: 20px;}
/*客户端*/
.clientdownLoad{width: 179px;position: fixed;_position: absolute;bottom: 20px;font-size:14px;padding:0 10px;}
.clientdownLoad .clientLink{color:#666; display:inline-block;width:87px;_width:85px;text-align:center;}
.clientLink .i-zeroDl{position:absolute;right:28px;bottom:21px;}
.clientdownLoad .clientLink:hover {color:#444;}
.clientdownLoad .clientLink:hover .secEr{background-position:0 -32px;}
.clientdownLoad .clientLink:hover .secFl{background-position:0 -94px;}
.secEr,.secFl,.clienTips .theArrow,.i-zeroDl{width:25px;height:25px;display:block;text-align:center;margin:0 auto;vertical-align:middle; overflow:hidden; background:url(../../../images/module/cloudMail2.0/secEr.png) no-repeat 0 0;}
.secFl{background-position:0 -64px;}
.clienTips .theArrow{width:11px;height:10px;background-position:0 -124px;}
.i-zeroDl{width:21px;height:11px;background-position:-4px -139px;}
.clienTips{ background:#fff;padding:25px 15px 15px 15px; border:1px solid #c6c6c6; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; position:absolute; left:13px; bottom:65px;}
.clienTips dl .btnGreen{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
/*限时免费绿色按钮*/
.clienTips dl .btnGreen{width:60px;height:27px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;color:white;border-color:#00B615;background-color:#00b611;display:inline-block;
border:none;padding:0;line-height: 26px;text-align:center;font-weight:bold;}
.clienTips dl .btnGreen:hover{background:#009F13;}
.clienTips .titTxt{position:absolute;margin-top:-18px;font-weight:bold;}
.clienTips dt .img{margin:8px 0 4px;border:1px solid #E9E9E9;}

.greenBarTip a{background:#00a913; color:#fff; font-size:18px; font-weight:bold; text-align:center; display:block; margin-bottom:10px;padding-top:3px;}
.greenBarTip a:hover{color:#fff;}
/*专题推荐*/
.specialMatter{margin:0 0 0 14px; width:820px;}
.specialMatter .matter{float:left; width:379px; margin:20px 30px 0 0; overflow:hidden;}
.specialMatter .matter h2{margin:10px 0 6px 0;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.specialMatter .matter p{color:#666; height:55px;}
/*杂志推荐*/
.leftBar,.rightBar,.m-close{background:url(../../../images/module/cloudMail2.0/bar.png) no-repeat; display:inline-block; vertical-align:middel; overflow:hidden; zoom:1;}
.m-close{background-position:0 -66px; width:11px; height:11px;}
.leftBar,.rightBar,.grayLeftBar,.grayrightBar{ width:9px; height:14px; position:absolute; top:13px;}
.leftBar:hover{background-position:0 0;}
.rightBar:hover{background-position:-18px 0;}
.leftBar{background-position:0 -20px; margin-right:10px; left: 0;}
.rightBar{background-position:-18px -20px;margin-left:4px;right: 0}

/*不可点击状态*/
.grayLeftBar,.grayrightBar{cursor:default; }
.grayLeftBar{background-position:0 -43px;}
.grayRightBar{background-position:-18px -43px;}
.grayLeftBar:hover{background-position:0 -43px;cursor:default;}
.grayRightBar:hover{background-position:-18px -43px;cursor:default;}

.allMazgine{width:810px; overflow:hidden;top: -3px; position:relative;*zoom:1;}
.mazListTab{width: 776px;white-space: nowrap;overflow: hidden; position: relative; margin-left: 19px;}
.mazListShow{margin:5px 5px 0 0; display:inline-block;position:relative;}
.mazListShow a{line-height: 20px; padding:3px ; border:1px solid #fff; color:#444; display:inline-block;width: 84px;overflow: hidden;text-overflow: ellipsis;}
.mazListShow a:hover{background:#e8e8e8; border:1px solid #e8e8e8; color:#444;}
.mazListShow a.check{background:#e8e8e8; border:1px solid #e8e8e8; color:#444;}
.mazListShow a em{padding-left:5px;}
.mazListShow a .m-close{position:absolute;display:block; z-index:9;   top:-9999px;right:-3px;}
.mazListShow a:hover .m-close{top:-5px; }


.aboutClound{padding-bottom:20px;}

/*
*   最后一项时外层增加class="allMazgineEnd"
*/

.allMazgineEnd:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.allMazgineEnd{zoom:1;overflow: visible;_float:left;}
.allMazgineEnd .rightBar{}
.allMazgineEnd .mazListTab{overflow: visible;}

/* bugfix */
.clientdownLoad .clienTips dt{text-align: center;}
.newspaperlist .newsMazginLi .newsMazginLiDownBtd .title{padding-top: 3px;}
.newspaperlist .newsMazginLi .newsMazginLiDownBtd .userNum{margin-top: -3px;}


/*通用提示*/
.bodyerror{text-align: center;position: absolute;width: 140px;height: 150px;left: 50%;top: 50%;margin-left: -70px;margin-top: -75px;}
.bodyerror p {padding: 14px 0 10px 0;}


.coundMailRigtTop .searchContactText,.coundMailRigtTop .searchContactBtn{border: none;}

/*kuban弹层*/
.kuban_popup {
	height: 40.625em;
	width: 35.625em;
	position:fixed;
	position:absolute;
	left: 10%;
	top: 10%;
	background-color: #ffffff;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;

}
.kuban_popup .kuban_top {
	height: 6em;
	width: 35.625em;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #cfcfcf;
	padding-top:1.56em;
	background-color:#f0f0f0;
	border-top-left-radius:8px;
	-moz-border-top-left-radius:8px;
	-webkit-border-top-left-radius:8px;
	border-top-right-radius:8px;
	-moz-border-top-right-radius:8px;
	-webkit-border-top-right-radius:8px;
}


.kuban_popup .kuban_top p{

	font-family:Hiragino Sans GB;
	font-size:1.75em;
	color:#323232;
	font-weight:bold;
	line-height:36px;
	margin-left:24px;
}

.kuban_popup .kuban_main {
	height: 25.4em;
	width: 35.625em;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #cfcfcf;

}

.kuban_popup .kuban_main ul {
	height: 25.43em;
	width: 35.625em;

}
.kuban_popup .kuban_main ul li {
float:left;
margin-left:2.6em;
margin-top:1.875em;
position:relative;
width:9em;
height:155px;
}
.kuban_popup .kuban_main ul li span {
	position: absolute;
	top:0;
	left:0;
}
.kuban_popup .kuban_main ul li p{
 text-align:center;
 font-size:1.5em;
 color:#636363;
 margin-top:0.25em;
 position:relative;
 left:-14px;
}
.kuban_popup .kuban_bottom {
	width: 35.625em;
	text-align:center;
}
.kuban_popup .kuban_bottom .submit_1{
	width: 202px;
	height: 66px;
	background-color: #ffffff;
	outline: none;
	border: none;
	background-image: url(../../../images/global/button_01.jpg);
	font-size:32px;
	color:#323232;
	margin-top:25px;

}
.kuban_popup .kuban_bottom .submit_2{
	width: 202px;
	height: 66px;
	background-color: #ffffff;
	outline: none;
	border: none;
	background-image: url(../../../images/global/button_02.jpg);
	font-size:32px;
	color:#ffffff;
	margin-left:17px;
}

/*web弹层*/
.web_popup {
	width: 502px;
	position: fixed;
	left: 10%;
	top: 10%;
	background-color: #fafafa;


}
.clear{clear:both;}
.web_popup .web_top{
	width: 502px;
	position:relative;
}

.web_popup .web_top1{
	float:right;
	margin-top:10px;
	margin-right:10px;
}

.web_popup .web_top2 {
	height: 51px;
	width: 454px;
	border-bottom:1px solid #e8e8e8;
	margin:0 auto;
	padding-top:22px;
}

.web_popup .web_top2 .grey{
	color:#999999;}

.web_popup .web_top p{
	font-family:微软雅黑;
	font-size:14px;
	color:#444444;
	line-height:23px;
}
.web_popup .top_right {
	float: right;
	height: 27px;
	width: 24px;
}

.web_popup .web_main {
width:502px;
border-bottom:1px solid #e8e8e8;
overflow:hidden;
background-color: #fafafa;
}

.web_popup .web_main ul {
width:502px;
height:245px;

}
.web_popup .web_main ul li {
float:left;
margin-left:45px;
margin-top:24px;
position:relative;
width:73px;
height:82px;
display:inline;
}

.web_popup .web_main ul li span {
	position: absolute;
	top:0;
	left:0;

}

.web_popup .web_main ul li p{
font-size:12px;
color:#444444;
margin-top:10px;
text-align:center;
position:relative;
left:-6px;
width:73px;
height:15px;
overflow:hidden; white-space:nowrap; text-overflow:ellipsis;
}
.web_bottom {
	height:50px;
	width:479px;
	background-color: #ffffff;
	padding-top:11px;
	text-align:right;
	padding-right:23px;
	overflow:hidden;
}
.web_bottom .popup_btnSure {
	height: 28px;
	width: 88px;
	text-align:center;
	vertical-align:middle;
	padding:0;
	line-height:28px;

}
.web_bottom .popup_btnNormal {
	background-color: #f8f8f8;
	height: 28px;
	width: 78px;
	text-align:center;
	padding:0;
	line-height:28px;
}

/*热点弹出框*/
.boxIframeTitle h2 span{padding-left:10px; _padding:5px 0 0 10px; display:inline-block;}
.boxIframeTitle h2 span i{position:relative; top:-2px; margin-right:6px;}
.cloudHotSpot{padding:12px 23px;}
.cloudHotSpot .norTipsLine{color:#888;}
.cloudHotSpot .norTipsLine_img{float:left; width:100px; height:65px; position:relative; zoom:1; display:block;}
.cloudHotSpot .norTipsLine_img span{background:#000; filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity:0.8; opacity:0.8; position:absolute; left:0; bottom:0; height:18px; width:100px; display:inline-block;}
.cloudHotSpot .norTipsLine_img p{position:absolute; left:0; bottom:0; height:18px; width:100px; text-align:center; color:#fff;}
.cloudHotSpot .norTipsLine_info{float:left; width:143px; margin:-6px 0 0 10px; _display:inline;}
.cloudHotSpot .norTipsLine_info span{margin-left:5px; width:132px; height:17px; line-height:17px; vertical-align:middle; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; display:inline-block;}
.cloudHotSpot .norTipsLine_info a{color:#888;}
.cloudHotSpot .norTipsLine_pic{float:left; width:50px; height:50px;}
.cloudHotSpot .cloudStar{float:left; width:194px; margin-left:10px; _display:inline;}
.cloudHotSpot .cloudStar h2{color:#333;}
.cloudHotSpot .cloudStar p{color:#999;}
.cloudHotSpot .starBox, .cloudHotSpot .starBox em{vertical-align:2px; *vertical-align:4px;}
