body{background:none #f6f6f6;}
.relative{ position: relative;*zoom:1;}
.green{color:#32a114;}
.g-body{width: 800px; margin: auto;}

.m-section{ margin-top: 10px;}
.m-section .hd{background-color: #ffbd20; height: 30px; line-height: 30px; font-size: 14px; border-radius: 4px 4px 0 0;}
.m-section .hd h2{color:#fff; font-weight: 700; padding-left: 14px;}
.m-section .bd{background-color: #fffbf1; border: #eee1c2 solid 1px; border-top: none;}
.m-section .intro {padding: 20px 0 20px 26px;}
.intro .text{margin-left: 33px; width: 520px;}
.intro .text h3{color: #c79417; font-size: 20px; font-weight: 300; padding-top: 4px;}
.intro .text p{color: #444; font-size: 14px; text-indent: 2em; line-height: 20px; padding-top: 10px;}


i,.btn1{background: url(../../../images/module/cloudMail2.0/milaotou/main.png) no-repeat 0 0; display: inline-block; vertical-align: middle;}
.i-logo{ width: 199px; height: 199px; background-position:-301px -54px; }
.i-text{ width: 340px; height: 39px; background-position: 0 0;}
.btn1{ width: 145px; height: 28px; background-position: 0 -63px; text-align: center; color:#fff; line-height: 28px; position: relative; top:5px;}
.btn1:hover{color: #fff;}
.pic-list{ padding: 17px 0 15px; width: 769px; margin: auto; overflow: hidden;}
.pic-list ul{ width: 800px;}
.pic-list li{float: left; margin-right: 6px;}
.pic-list li a{width: 149px; height: 174px; display: block;background: url(../../../images/module/cloudMail2.0/milaotou/main.png) no-repeat 0 -114px; text-align: center;  }
.pic-list li img{margin-top:7px ;}










