@charset "utf-8";
html{color:#000;background:#FFF;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, p, th, td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset, img{border:0;}
caption, em, strong, th, optgroup{font-style:inherit;font-weight:inherit;}
li{list-style:none;}
caption, th{text-align:left;}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal;}
legend{color:#000;}
input, button, textarea, select, optgroup, option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input, button, textarea, select{#font-size:100%;}
/*begin*/
html{_overflow-x:hidden;}
.container{min-height:200px;_height:200px;}
table{table-layout:fixed;width:100%;}
th, td{vertical-align:top;}
th{font-weight:normal;}
legend{#margin-left:-7px;}
body, table{font-size:12px;font-family:Tahoma, Arial, Helvetica, sans-serif;}
th, td{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
.function1 ul li a i.f1{background-position:-293px -125px;}
.function1 ul li a i.f2{background-position:-36px -26px;}
.function1 ul li a i.f3{background-position:-262px -20px;}
.function1 ul li a i.f4{background-position:-235px -129px;}
.function1 ul li a i.f5{background-position:-36px -86px;}
.function1 ul li a i.f6{background-position:-258px -84px;}
div.function2 ul.inlet li i.f1{background-position:-36px -140px;}
div.function2 ul.inlet li i.f2{background-position:-86px -138px;}
div.function2 ul.inlet li i.f3{background-position:-132px -136px;}
div.function2 ul.inlet li i.f4{background-position:-126px -34px;}
div.function2 ul.inlet li i.f5{background-position:-168px -34px;}
div.function2 ul.inlet li i.f6{background-position:-180px -138px;}
div.function2 ul.inlet li i.f7{background-position:-210px -36px;}
div.inletTitle{background:#FDFCDE;border:1px solid #FDAB0A;padding:10px;line-height:140%;position:absolute;}
.function1 ul li a:hover{background:#FDFCDE;border:1px solid #FDAB0A;padding:9px 0 0 0;}
.function1 ul li a:hover i{top:4px;left:4px;}
.trainBott i{background-image:url(../images/mail_icons01.gif);background-repeat:repeat-x;}

#container{min-height:200px;_height:200px;}
input.text, textarea{padding:2px;border:1px #B1B1B1 solid;}
input.text{margin-right:10px;#height:14px;}
.formAction{margin:1em 0 0;height:3em;}
.formAction li{display:inline;margin-right:1em;}
.btnStrong, .btnNormal, .btnAuto{display:inline-block;text-align:center;text-decoration:none;font-weight:bold;}
.btnStrong, .btnNormal{width:80px;height:22px;line-height:22px;}
.btnStrong, .btnAuto{color:white;}
.btnStrong{background-position:0 -66px;position:relative;#top:-3px !important;#top:-1px;}
.btnNormal{background-position:0 -88px;color:black;}
.btnAuto{padding:0 10px;}
.btnAuto:hover{background-position:0 -408px;}
.btnStrong:hover, .btnNormal:hover{background-position:0 -110px;}
.btnAuto{height:20px;line-height:20px;background-position:0 -377px;color:white;}
.btnSubscribe{display:inline-block;vertical-align:middle;width:4.5em;padding:2px 0;background-color:#ec8a00;color:white;font-weight:bold;text-align:center;-moz-border-radius:3px;-webkit-border-radius:3px;}
.btnDisabled{background-color:#CBCBCB;cursor:default;}
.btnDisabled:hover{color:white !important;}
body{background-position:0 -433px;padding-top:20px;font-size:12px;}
.trainTop,.function1,.function2,.trainTop,.trainMid,.trainFactor,.trainBott,.trainOrder,.cardSearch,.searchResult,.citySearch,.calendar{margin-left:30px;}
.function1 h1,.function2 h2{color:#1C8700;line-height:30px;font-size:14px;font-weight:bold;text-indent:10px;}
.function1 ul li strong{font-weight:bold;}
.function1,.function2{width:650px;}
.function1 ul,div.function2 ul.inlet{width:650px;overflow:hidden;margin-top:10px;}
.function1 ul li{display:inline;width:33.2%;float:left;}
div.function2 ul.inlet li{width:161px;float:left;padding:10px 0 0 0;height:30px;position:relative;}
div.function2 ul.inlet li a{margin-left:40px;text-decoration:underline; cursor:pointer;}
.function1 ul li a{text-decoration:none;padding:10px 1px 1px 1px;height:55px;display:block;width:208px;position:relative;}
.function1 ul li a i,div.function2 ul.inlet li i{display:block;width:40px;height:50px;position:absolute;top:5px;left:5px;}
div.function2 ul.inlet li i{width:30px;height:30px;}
.function1 ul li strong,.function1 ul li span{margin:0 0 10px 50px;display:block;color:#8B8B8B;}
.function1 ul li a:hover strong,.function1 ul li a:hover span{color:#000;}
div.function2{border:1px solid #dedede;margin-top:20px;}
div.function2 h2{margin-bottom:10px; background:#f5f5f5;color:#767676;}
div.function2 div{#height:1%;overflow:auto;}
div.function2 div p{float:left;width:65px;height:30px;line-height:30px;font-weight:bold;color:#767676;text-indent:5px;}
div.function2 div ul{float:left;width:585px;}
div.function2 div ul li{line-height:30px;#height:1%;}
div.function2 div ul li a{width:82px;float:left;text-align:left;color:#767676;text-decoration:underline;text-indent:5px;}
div.trainTop{line-height:30px;color:#1C8700;}
div.trainTop a,div.trainMid a,table.beginEnd td a{color:#1C8700;}
.beginEnd .beginEnd a{position:relative;padding-left:15px;text-decoration:none;}
.beginEnd .beginEnd a:hover{text-decoration:underline;}
.beginEnd .beginEnd a i{width:10px;height:15px;display:inline-block;position:absolute;background-position:-148px -84px;left:0;top:0;}
.beginEnd .beginEnd a i.list{background-position:-131px -84px;}
div.trainTop span{font-size:14px;font-weight:bold;}
div.trainMid,div.trainTable{margin-top:15px;}
div.trainMid .t1{color:#666;}
div.trainFactor{margin-top:20px;padding-bottom:20px;border-bottom:1px solid #efefef;width:500px;}
div.trainFactor h2{font-weight:bold;padding:10px 0;}
div.trainFactor input{margin:0 10px;}
div.trainMid a,div.trainMid span{margin:0 5px;}
div.trainMid span.be,div.trainMid span.nu{color:#FF5609;font-weight:bold;}
table.beginEnd td{line-height:30px;border-bottom:1px solid #e3e3e3;overflow:hidden;white-space:nowrap;text-indent:10px;color:#767676;}
table.beginEnd th{line-height:30px;border-top:1px solid #ccc;background:#F6F6F6;color:#000;font-weight:bold;text-indent:10px;}
.bTime,.eTime,.allTime{width:80px;}
.send{width:100px;}
.type,.bSta,.eSta{width:80px;}
.trainBott h3{font-weight:bold;text-indent:20px;margin:15px 0;position:relative;height:12px;}
.trainBott h3 i{background-position:-480px -70px;height:20px;width:20px;position:absolute;left:0px;top:0px;display:block;}
.trainBott p{color:#767676;text-indent:20px;}
.trainOrder p{color:#767676;padding:10px 0;}
.trainOrder p strong{font-weight:bold;}
.trainOrder table{width:320px;border:1px solid #e3e3e3;border-bottom:none;}
.trainOrder table th{line-height:20px;font-weight:bold;text-align:center;}
.trainOrder table td{line-height:30px;border-bottom:1px solid #e3e3e3;overflow:hidden;white-space:nowrap;text-align:left;text-indent:15px;}
.trainOrder table th.sta{text-align:left;text-indent:15px;}
.trainOrder table th.eTime{width:50px;}
.cardSearch p{font-weight:bold;padding:10px 0;}
.cardSearch div{width:540px;border:1px solid #B1B1B1;background:#EEFAE2;padding:30px 0 30px 20px;}
.cardSearch .btnStrong{margin-top:20px;}
.searchResult,.citySearch{margin-top:10px;}
.searchResult p,.citySearch p.top,.citySearch p.search{padding:10px 0 0 0;}
.searchResult p span{font-weight:bold;color:#ff5500; font-family:Arial;}
.searchResult div{width:540px;border:1px solid #FFAA06;background:#FEFDE0;padding:10px 0 10px 20px;line-height:26px;}
.searchResult div span.l{text-align:right;width:80px;display:inline-block;}
.searchResult div span.r{width:450px;display:inline-block;}
.searchResult div.telSearch span.r{width:450px;}
.searchResult div.telSearch span.l{width:80px;}
.citySearch{border-bottom:1px solid #e3e3e3;width:500px;padding-bottom:20px;}
.citySearch p.top{font-weight:bold;}
.citySearch p.search input{margin-left:10px;}
.citySearch div,.trainFactor div{width:300px;border:1px solid #FFAA06;background:#FEFDE0;padding:10px 0 10px 20px;line-height:26px;position:relative;margin-top:10px;}
.citySearch div p,.trainFactor div p{position:absolute;left:20px;top:10px;color:#767676}
.citySearch div ul,.trainFactor div ul{margin-left:70px;}
.citySearch div ul li span,.trainFactor div ul li span{margin:0 5px;}
.citySearch div a,.trainFactor div a{width:16px;height:16px;position:absolute;right:5px;top:5px;display:inline-block;background-position:-45px -186px;}
.citySearch div a:hover,.trainFactor div a:hover{background-position:-65px -186px;}
.calendar{margin-top:15px;}
.calendar .top{width:574px;border:1px solid #D7D9D4;line-height:20px;overflow:auto;}
.calendar .top span{padding:0 45px;width:20px;float:left;color:#1C8700;font-weight:bold;}
.calendar .top a{height:20px;width:28px;float:right;margin:0;padding:0 1px 0 8px;text-align:left;color:#000;text-decoration:none;}
.calendar .top a:hover,.calendar .top a.tm{padding:0 0 0 7px;background:#FFE47D;border-left:1px solid #D7D9D4;border-right:1px solid #D7D9D4;}
.calendar .top a.last:hover{padding:0 1px 0 7px;border-right:0px;}
.calendar table{width:576px;border-left:1px solid #D7D9D4;}
.calendar table td,.calendar table th{border-right:1px solid #D7D9D4;border-bottom:1px solid #D7D9D4;text-align:center;}
.calendar table th{line-height:28px;font-weight:bold;background:#EEF5EE;}
.calendar table td{height:60px;#height:45px;padding:15px 0 0 0;font-family:Arial;}
.calendar table td.today{background:#FFE47D;}
.calendar table td.today span{font-weight:bold;}
.calendar table td.before span{color:#7e7e7e;}
.calendar table td.holiday1 span,.calendar table td.holiday2 span{font-weight:bold;color:#FE560B;}
.calendar table td.holiday2 span.b{color:#1C8700;}
.calendar table td span{display:block;margin-bottom:5px;font-family:Arial}
div.sentDiv,div.sentDiv1{width:121px;height:24px;background-position:-96px -176px;position:absolute;padding:8px 0 0 15px;}
div.sentDiv1{background-position:-99px -209px;padding:8px 0 0 5px;width:131px;}
div.sentDiv a,div.sentDiv1 a{color:#000;text-decoration:none;margin:0 0 0 15px;}
div.sentDiv1{padding-left:0px;}
div.sentDiv1 a{margin-left:3px;margin-right:6px;}
div.sentDiv a{margin-left:3px;margin-right:6px;}
/*2009-12-09　移动ＭＭ推荐*/
.mm-app{ background:url(../images/MM/mm_biaoti.png) no-repeat 0 0; margin:24PX 0 12px 30px; padding:26px 0 0 0; overflow:hidden; height:100% }
.mm-app dl{ float:left; text-align:center; margin:12px 18px 0 6px}
.mm-app dd{ margin:6px 0 0 0; width:110px; text-overflow: ellipsis;white-space:nowrap; overflow:hidden}
.mm-app a{ color:#2364DE; text-decoration:none; outline:none}
.mm-app a:hover{ text-decoration:underline}