/*账单中心提示框*/
.t-type i{ width: 12px;}
.bus_inf td{text-align:center; line-height:26px;}
.bus_inf td a{ text-decoration:none;}
.car_inqure{width:270px;margin-top:10px;}
.car_inqure td.car_clasy{width:80px; height:36px; line-height:36px;text-align:right;vertical-align:middle;}
.car_inqure td input{width:180px; padding:5px 0; text-indent:5px; border:1px solid #a5acb2; background:#fff; color:#333;}
.car_bill{width:343px; height:100%;float:right; border-left:1px solid #96a5c6; position:absolute; right:0; top:0; background:url(../images/bill/bil_p.jpg) no-repeat center 20px #f7faff;}
.car_p1{padding:200px 25px 0 25px;}
.car_p2{text-align:right; padding:10px 15px 0 0; color:#666;}

/* 账单中心导航 */
.setTab .tabTitle li{ border-right:0; height:34px;}
.setTab .tabTitle li.on{border-right:1px solid #a5a5a5;}
/* 账单管理弹出层 */
.zd_mag th{background-color:#eef3f7;height:29px;line-height:29px;padding-left:5px;}
.zd_mag td{border-bottom:1px solid #e4e4e4;word-wrap:break-word;word-break:normal;line-height:21px;height:21px;padding:5px 0 5px 5px;}
.zd_mag td.b_top{border-bottom:none;}
.zd_mag td div{padding-top:10px;}
.zd_mag .zd_mag_f .btn139{margin-right:8px;}
.zd_mag .zd_mag_f  span{color:#999999;}
.zd_mag .zd_mag_f  span em{color:#ff7200;}
/**/
.bill_tip{margin:10px 10px 20px 50px;}
.pageStyles{height:26px; line-height:26px;width:165px;background:white;border:1px solid #979EA3; display:inline-block; text-decoration:none; color:#333; margin-right:15px;}
.pageStyles em{padding-left:5px;}
dl.search_drop {width: 165px;overflow: hidden;position: absolute;background: white;left:0px;top:28px;_left:0px;_top:28px;padding: 2px 0;border: 1px solid #8E8F8F;border-top: none;box-shadow: 1px 1px 2px #ccc;z-index: 9999;}
.search_drop dt {height: 22px;vertical-align: top;}
.search_drop dt a {display: block;line-height: 22px;padding-left: 5px;text-decoration: none;color: #333;}
.search_drop dt a:hover{color: white;background: #6B98DA;}
.setTab .tabTitle li{width:auto;}
