.feibarTips{border:1px solid #999999; background:#fff;}
.feibarTitle{position:relative;height:46px; border-bottom:1px solid #dadada;
	background:#f5f5f5;
	background: -webkit-gradient(linear, left, left bottom, from(#fdfdfd), to(#eeeeee));
	background: -moz-linear-gradient(top,  #fdfdfd,  #eeeeee);
	background: -o-linear-gradient(left, #fdfdfd, #eeeeee);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#eeeeee');
	background: linear-gradient(left, #fdfdfd, #eeeeee); 
}
.feibarTitle dl{margin-left:30px; padding-top:5px;}
.feibarTitle .i_fei{margin:10px 0 0 10px;}
.i_fei, .i_closeFei, .i_downDot, .i_rightDot, .i_up, .i_down, .i_deletePson {background: url(../../images/module/feibar/fei.png) no-repeat;display: inline-block; overflow: hidden; vertical-align: middle;}
.i_fei{background-position:-16px 0px; width:14px; height:16px;}
.i_closeFei{background-position:-30px -11px; width:10px; height:10px; position:absolute; right:5px; top:5px;}
.i_downDot{background-position:0 0; width:8px; height:4px; margin-right:5px;}
.i_rightDot{background-position:3px -5px; width:8px; height:8px; margin-right:5px;}
.i_up {background-position: -8px 0;width: 8px; height: 7px; margin-left:5px;}
.i_down { background-position: -8px -8px;width: 8px; height:7px; margin-left:5px;}
.i_deletePson{background-position: -32px 0;width: 8px;height: 7px;}

.feibar_address{padding:0 15px; margin-top:15px; color:#666666; height:150px; overflow:scroll;overflow-x:hidden;}
.feibar_address a{color:#666666; text-decoration:none;}

.feibar_address li{line-height:22px; vertical-align:middle;}
.second_menuFeiBar a{padding-left:13px;}
.second_menuFeiBar li.check {background: #f6f6f6;display: block; }
.second_menuFeiBar li:hover {background: #f6f6f6;display: block; }

.second_menuFeiBar a.add_addr{float:right; margin-right:5px; overflow:hidden; zoom:1;color:#014282;}
.second_menuFeiBar a.add_addr:hover{background:none; z-index:1;}
.second_menuFeiBar a.c_999{color:#999;}
.feibarContact {padding:2px 5px; background: #fffece;border-bottom: 1px solid #dadada;}
.contactsP a {color: #fff; margin: 3px; display: inline-block; text-decoration:none; background: #5985c6;-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px; padding: 3px 8px 1px 8px;}
.contactsP a i{margin-left:5px; display:none;}
.contactsP{margin:5px 0;}
.feiBotmBar {padding: 5px 0; background: #f7f7f7; border-top: 1px solid #dadada; border-bottom: 1px solid #fff;}