@charset "utf-8";
.i_musicIco,.i-volIco,.i-volUnit,.i-preSong,.i-nxtSong,.i-playSong,.i-pauseSong,.i-playSongS,.i-delSongS, .i-notSongS, .i-progressSong, .i-progressSongS, .musicTips, .i-preSongN, .i-playSongN, .i-nxtSongN, .i-playMode, .i-playSingles, .i-playRandom, .i-musicClear, .i-musicAdd, .i-volIcoN{background:url(../../images/global/global_24.png) no-repeat;_background:url(../../images/global/global.png) no-repeat;display:inline-block;overflow:hidden;vertical-align:middle;}
.i_musicIco{background-position:-34px -324px; width:16px; height:15px;}
.i-volIco{background-position:-81px -325px; width:11px; height:11px; }
.i-volIcoMute{width:18px;}
.i-volUnit{background-position:-58px -325px; width:6px; height:12px; }
.i-preSong,.i-nxtSong{background-position:-101px -328px; width:12px; height:12px;}
.i-nxtSong{background-position:-136px -328px;}
.i-playSong{background-position:-118px -327px; width:11px; height:15px;}
.i-playSongS{background-position:-103px -466px; width:5px; height:7px;}
.i-delSongS{background-position:-132px -423px; width:28px; height:25px;}
.i-delSongS:hover{background-position:-132px -449px;}
.i-notSongS{background-position:-97px -474px; width:11px; height:11px;}
.i-progressSong{background-position:-109px -473px; width:13px; height:15px;}
.i-progressSongS{background-position:-97px -457px; width:14px; height:8px;}
.i-volIcoN{background-position:-97px -444px; width:16px; height:12px;}
.i-volIcoN:hover{background-position:-115px -444px;}
.musicTips{background-position:-275px -431px; width:80px; height:25px; line-height:22px;}
.i-preSongN{background-position:-190px -476px; width:10px; height:10px;}
.i-preSongN:hover{background-position:-190px -487px;}
.i-playSongN{background-position:-136px -494px; width:26px; height:26px;}
.i-playSongN:hover{background-position:-136px -521px;}
.pause.i-playSongN{background-position:-201px -476px;}
.pause.i-playSongN:hover{background-position:-201px -503px;}
.i-nxtSongN{background-position:-228px -476px; width:10px; height:10px;}
.i-nxtSongN:hover{background-position:-228px -487px;}
.i-playMode{background-position:-193px -463px; width:14px; height:12px;}
.i-playMode:hover{background-position:-208px -463px;}
.i-playRandom{background-position:-241px -493px; width:14px; height:12px;}
.i-playRandom:hover{background-position:-241px -506px;}
.i-playSingles{background-position:-191px -530px; width:14px; height:12px;}
.i-playSingles:hover{background-position:-206px -530px;}
.i-musicClear{background-position:-244px -447px; width:11px; height:12px;}
.i-musicClear:hover{background-position:-256px -447px;}
.i-musicAdd{background-position:-223px -463px; width:12px; height:12px;}
.i-musicAdd:hover{background-position:-236px -463px;}

/*音乐播放*/
.on .i_musicIco{background:url(../../images/global/musicIco.gif) no-repeat center center;}

.musicPop{ position: absolute; top:36px; right: 0; width: 240px;  background: #fff; border: #d1d3d5 solid 1px; border-top:none; color:#666!important;
	-moz-box-shadow:0 0 5px #d1d3d5;
    -webkit-box-shadow:0 0 5px #d1d3d5;
    box-shadow:0 0 5px #d1d3d5;
}
.music_playBox{padding: 10px; position: relative;*zoom:1; background: #f8f8f8;}
.music_playBox dt{width:164px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-bottom: 10px;}
.music_playBox .volBar{ position: absolute; top:10px; right:10px;}
.music_playBox .volUnits{ display: inline-block; position: relative; top:-2px;}


.music_playBox .volUnit1.volOn{background-position:-66px -321px;}
.music_playBox .volUnit2.volOn{background-position:-66px -322px;}
.music_playBox .volUnit3.volOn{background-position:-66px -323px;}
.music_playBox .volUnit4.volOn{background-position:-66px -324px;}
.music_playBox .volUnit5.volOn{background-position:-66px -325px;}

.music_playBox .volUnit1{ background-position:-58px -321px;}
.music_playBox .volUnit2{ background-position:-58px -322px;}
.music_playBox .volUnit3{ background-position:-58px -323px;}
.music_playBox .volUnit4{ background-position:-58px -324px;}
.music_playBox .volUnit5{ background-position:-58px -325px;}


.music_playBox .volOn{_background-position-x:-66px;}

.music_playBox .m_progressBar{ height:4px; font-size: 0; background: #ccc; position: relative; *zoom:1; border-radius: 2px; width: 100%;  cursor: pointer; }
.music_playBox .m_progressBar b{ display: block; position: absolute; left: 0; top:0; height: 4px;border-radius: 2px; background: #db0072;}
.music_playBox .m_toolBar{ margin-top: 15px;}
.music_playBox .m_toolBar .i-preSong{margin-right: 36px;}
.music_playBox .m_toolBar .i-nxtSong{margin-left: 36px;}
.music_playBox .m_toolBar .noMore{ background-position-y: -347px;}
.music_playBox .m_toolBar .i-preSong.noMore{background-position:-101px -347px;}
.music_playBox .m_toolBar .i-nxtSong.noMore{background-position:-136px -347px;}
.music_playBox .m_toolBar .pause{background-position-y: -345px;}
.music_playBox .m_toolBar .i-playSong.pause{background-position:-118px -345px;}
.music_listBox{cursor:default;}
.music_listBox_title{position:relative; z-index:1;}
.music_listBox_title ul{border-bottom:2px solid #e0e0e0; padding:0 11px; height:32px;}
.music_listBox_title li{float:left; width:89px; text-align:center; cursor:pointer; position:relative; _bottom:-2px;}
.music_listBox_title li.music_line{width:22px; font-family:"Arial"; color:#b5b5b5;}
.music_listBox_title .music_listBox_focus{border-bottom:2px solid #45b2ed;}
.music_listBox dt{line-height: 32px; background: #fafafa; position:relative; zoom:1;}
.music_listBox dt .i-volIcoN{position:absolute; right:10px; top:10px; z-index:4; background-color:#fafafa;}
.music_listBox dt a.cur{background-position:-115px -444px;}
.music_listBox dt a.cur:hover{background-position:-97px -444px;}
.music_listBox dt a.def{background-position:-115px -457px;}
.music_listBox .m_progressBarN, .music_listBox .m_progressBarN b, .music_listBox .m_progressBarN span{height:4px; font-size:0px;}
.music_listBox .m_progressBarN{ background-color:#ccc; position:relative; zoom:1; cursor:pointer;}
.music_listBox .m_progressBarN b{position:absolute; left:0; top:0; background-color:#e0e0e0; display:inline-block;}
.music_listBox .m_progressBarN span{position:absolute; left:0; top:0; background-color:#45b2ed; display:inline-block;}
.music_listBox .m_progressBarN .i-progressSong{position:absolute; right:-3px; top:-3px;}
.music_listBox .m_progressBarN_left .i-progressSong{left:0;}
.music_listBox .m_progressBarN_left .musicTips{left:-7px;}
.music_listBox .m_progressBarN_right .i-progressSong{right:0;}
.music_listBox .m_progressBarN_right .musicTips{right:-60px !important;}
.music_listBox .m_progressBarN .musicTips{text-align:center; font-weight:normal; position:absolute; z-index:1; right:-63px; top:-30px; font-size:12px;}
.music_listBox .music_sound{position:absolute; right:-3px; bottom:-4px; width:22px; height:78px; border:1px solid #e0e0e0; z-index:3; background-color:#fff; display:none;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius:2px;
}
.music_soundBar{width:4px; height:54px; background-color:#45b2ed; position:relative; zoom:1; margin:5px auto 0; cursor:pointer;}
.music_soundBar span{position:relative; position:absolute; left:0; top:0; width:4px; background-color:#ccc;}
.music_soundBar .i-progressSongS{position:absolute; left:-5px; bottom:-2px;}
.music_soundBar .i-progressSongS_top{top:0;}

.music_listBox .list{height:222px;}
.music_listBox .list_ul{ height:222px; overflow-y:auto; position: relative;}
.music_listBox .list_ul::-webkit-scrollbar{ width: 8px;}
.music_listBox .list_ul::-webkit-scrollbar-track{ background: #fff;}
.music_listBox .list_ul::-webkit-scrollbar-thumb{ background: #8f8f8f; border-radius: 4px;}
.music_listBox .list_ul::-webkit-scrollbar-button{ height: 0;}
.music_listBox .list_ul li{ height:25px; line-height: 25px; padding: 0 0 0 25px; overflow: hidden; white-space: nowrap; position: relative; *zoom:1; cursor:pointer;}
.music_listBox .list_ul li.odd{background: #f8f8f8;}
.music_listBox .list_ul li.cur{background: #eef9ff;}
.music_listBox .list_ul li.curHover{background:#c5ebff;}
.music_listBox .list_ul .controller{height: 26px; position: absolute; right:0;}
.music_listBox .list_ul li.odd .controller{ background: #f8f8f8;}
.music_listBox .list_ul li.cur .controller{background: #c5ebff;}
.music_listBox .list_ul .i-playSongS.pause{background-position:-161px -464px;}
.music_listBox .list_ul .i-delSongS{position:absolute; right:0; top:0;}
.music_listBox .list_ul .i-playSongS{position:absolute; left:13px; top:10px;}
.music_listBox .list_ul .i-notSongS{position:absolute; left:10px; top:8px;}
.music_listBox .list_ul .i-playSongS, .music_listBox .list_ul .i-delSongS, .m_progressBarN .i-progressSong{background-color:transparent;}

.music_button{height:52px; background-color:#f9f9f9; padding:0 10px;}
.music_button .fl{margin-top:13px;}
.music_button .fl .i-playSongN{margin:0 14px;}
.music_button .fr{margin-top:20px; position:relative; zoom:1;}
.music_button .fr .i-playMode, .music_button .fr .i-musicClear, .music_button .fr .i-musicAdd, .music_button .fr .i-volIcoN, .music_button .fr .i-playSingles, .music_button .fr .i-playRandom{margin-left:14px; float:left; _display:inline;}
.music_button .fr .i-volIcoN{position:relative; z-index:4;}
.music_button a{background-color:#f9f9f9 !important;}
.music_button .music_button_focus .music_sound{display:block !important;}

.musicPopNot .list{text-align:center;}
.musicPopNot .list img{margin-top:50px;}
.musicPopNot .list p{margin-top:13px;}
.musicPopNot .list p .btnSetB{width:80px; _background-color:#00b615;}
.musicPopNot .m_progressBarN{background-color:#e0e0e0;}
.musicPopNot .i-volIcoN, .musicPopNot .i-preSongN, .musicPopNot .i-playSongN, .musicPopNot .i-nxtSongN, .musicPopNot .i-playMode, .musicPopNot .i-musicClear, .musicPopNot .i-playSingles, .musicPopNot .i-playRandom{cursor:default;}
.musicPopNot .i-volIcoN, .musicPopNot .i-volIcoN:hover{background-position:-115px -457px;}
.musicPopNot .i-preSongN, .musicPopNot .i-preSongN:hover{background-position:-190px -498px;}
.musicPopNot .i-playSongN, .musicPopNot .i-playSongN:hover{background-position:-163px -494px;}
.musicPopNot .i-nxtSongN, .musicPopNot .i-nxtSongN:hover{background-position:-228px -498px;}
.musicPopNot .i-playMode, .musicPopNot .i-playMode:hover{background-position:-178px -463px;}
.musicPopNot .i-musicClear, .musicPopNot .i-musicClear:hover{background-position:-232px -447px;}
.musicPopNot .i-playSingles, .musicPopNot .i-playSingles:hover{background-position:-221px -530px;}
.musicPopNot .i-playRandom, .musicPopNot .i-playRandom:hover{background-position:-241px -519px;}
.boxIframeText_music{text-align:center; padding:40px 0 63px;}

/* 此处为临时样式，待新版音乐播放器更新时，此处要删除 */
.musicPop .music_listBox .list_ul .i-playSongS{position:absolute;left:10px;top:8px;}
.musicPop .music_listBox .list_ul .i-delSongS {position: absolute;right: 5px;top:8px;}
.musicPop .i-playSongS{background-position: -239px -476px;width:11px;height:10px;}
.musicPop .i-delSongS{width:10px;height:10px;background-position:-166px -329px;}

.btnSetB span{display:inline-block;}
.btnSetB{width:109px; height:28px; line-height:28px; /*background:#00B615;*/ padding:0; font-size:14px; text-align:center; display:inline-block;cursor:pointer;overflow:hidden;
    background:#00BE16;
    background: -moz-gradient(linear, 0 0, 0 100%, from(#00C417), to(#00B615));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#00C417), to(#00B615));
    background: linear-gradient(#00C417 0%,#00B615 100%);
}
.btnSetB span{padding:0; display:block; height:28px; line-height:28px;}
.btnSetB span:hover{background:#00AD14;}
.btnSetB:active, .btnSetB:active span{
    background:#008910;
    background: -moz-gradient(linear, 0 0, 0 100%, from(#009A12), to(#00790E));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#009A12), to(#00790E));
    background: linear-gradient(#009A12 0%,#00790E 100%);
}