html, body {height: 100%;}
a:hover{text-decoration:none;}
/*重置btn按钮hover*/
.btn:hover{color:#666;}
.icon,.i-file-smalIcion, .cShare, .i-addrDot,.i-shareNew{background:url(../../../images/module/networkDisk/networkIcon_24.png) no-repeat;_background:url(../../../images/module/networkDisk/networkIcon.png) no-repeat; display:inline-block; overflow:hidden; vertical-align:middle;}
.all-file, .i-doc, .i-img, .i-mic, .i-mov, .i-link, .i-share, .i-myShare, .i-clamp, .i-tank, .i-c139,.i-recycle{width:16px; height:16px;}
.i-cOpen, .i-cDown, .i-cShare, .i-cMove, .i-cRenaming, .i-cDelete,.i-setPhone, .i-cSend,.i-cSendmail,.i-cRenewal,.i-cPhone,.i-cColrDisk,.i-m-footerBall,.i-m-footerballStar,.i-m-footerballMisic,.i-m-footerballMV,.i-deleteForever,.i-restore, .i-cHeadPortrait{width:14px; height:14px;}
.all-file{background-position:0 0;}
.i-doc{background-position:-17px 0;}
.i-img{background-position:-34px 0;}
.i-mic{background-position:-51px 0;}
.i-mov{background-position:-68px 0;}
.i-link{background-position:-85px 0;}
.i-share{background-position:-102px 0;}
.i-myShare{background-position:-119px 0;}
.i-clamp{background-position:-136px 0;}/*附件夹*/
.i-tank{background-position:-153px 0;}/*暂存柜*/
.i-c139{background-position:-87px -116px;}
.i-upload{width:13px; height:15px; background-position:-118px -49px;}
.i-pc{width:25px; height:23px;background-position:-20px -34px;}
.i-tool{width:24px; height:23px; background-position:-47px -34px;}
.i-addrDot{width:7px; height:7px; background-position:0 -63px;}
.i-shareNew{width:22px; height:22px; background-position:0 -116px;}

.i-cOpen{background-position:-87px -34px;}
.i-cDown{background-position:-102px -34px;}
.i-cShare{background-position:-117px -34px;}
.i-cMove{background-position:-132px -34px;}
.i-cRenaming{background-position:-147px -34px;}
.i-cDelete{background-position:-87px -49px;}
.i-cSend{background-position:-102px -49px;}
.i-setPhone{background-position:-103px -116px;}
.i-cSendmail{background-position:-102px -49px;}
.i-cRenewal{background-position:-102px -65px;}
.i-cPhone{background-position:-118px -65px;}
.i-cColrDisk{background-position:-132px -65px;}
.i-cHeadPortrait{background-position:-103px -116px;}
.cShare{background-position:0 -34px; width:19px; height:19px;}

.i-recycle{background-position:0 -75px;}
.i-restore{background-position:-26px -76px;}
.i-deleteForever{background-position:-52px -76px;}
.menuPop .text .i-restore,.menuPop .text .i-deleteForever{position: relative; top:-2px;}
/*
.listMenu .on .all-file{background-position:0 -17px;}
.listMenu .on .i-doc{background-position:-17px -17px;}
.listMenu .on .i-img{background-position:-34px -17px;}
.listMenu .on .i-mic{background-position:-51px -17px;}
.listMenu .on .i-mov{background-position:-68px -17px;}
.listMenu .on .i-link{background-position:-85px -17px;}
.listMenu .on .i-share{background-position:-102px -17px;}
.listMenu .on .i-myShare{background-position:-119px -17px;}
.listMenu .on .i-clamp{background-position:-136px -17px;}
.listMenu .on .i-tank{background-position:-154px -17px;}
*/
/*足球世界杯*/
.m-footerBall{width:32px; height:32px;background:url(../../../images/module/networkDisk/footerSmallIcon.png) no-repeat;display:inline-block; overflow:hidden; vertical-align:middle;}

.i-m-footerBall{background-position:0 0;}
.i-m-footerballStar{background-position:0 -32px;}
.i-m-footerballMisic{background-position:0 -68px;}
.i-m-footerballMV{background-position:0 -100px;}



/*左侧菜单*/
.uploadDiv{padding:10px 30px 10px; text-align:center;}
.uploadDiv a{display:block; font-size:14px; height:28px; padding:0; position:relative; overflow: hidden; cursor:pointer;}
.uploadDiv a:hover{color:#fff;}
.uploadDiv a i{vertical-align:top; margin-right:6px; margin-top: 6px;}
.uploadDiv a em{padding-top:4px;}
.uploadDiv a .btnSetG{display:block; height:28px;  padding-left: 9px;}
.uploadDiv a:hover .btnSetG{background-color:#00a213;}
.uploadDiv a:active .btnSetG{background-color: #008e11;}

.uploadDiv .btnSet .uploadText{display: inline-block; vertical-align: top; line-height: 28px;}
.uploadDiv a .imvisibleInput{position:absolute;top:0;right:-1px;font-size:100px;cursor:pointer;opacity:0;filter:alpha(opacity=0);}

.listMenu{border-bottom:1px solid #e8e8e8; padding:3px 0 3px;}
.listMenu li{height:28px; padding-bottom:3px;}
.listMenu li a{ display:block; color:#666;font-size:14px;overflow:hidden; vertical-align:middle; _zoom:1; height:28px; line-height:28px; padding-left:30px; _padding-top:5px; _height:23px;}
.listMenu li a i{margin:-2px 8px 0 0;*margin-top:0;}
.listMenu li a .i-img{vertical-align:-2px;*vertical-align:middle;}

.listMenu li a:hover{background-color:#e8e8e8;color:#444;}
.listMenu li.on a,.listMenu li.on a:hover{text-decoration:none; background:#e8e8e8; color:#444;}
.listMenu li a.borderBtm{border-bottom:1px solid #e8e8e8;}
.listMenu li a.borderTop{border-top:1px solid #fff;}
.downloadDisk{padding-bottom: 8px; text-align:center;}
.downloadDisk a{display:inline-block; text-decoration:none;}
.downloadDisk a span{padding-top:8px; display:block; color:#464646;}
.downloadDisk .i-addrDot{position:absolute; left:0px; top:-6px; font-size:1px;}
.downloadDisk  .diskpOtherTool{ padding-top:8px;}
.inAside .downloadDisk .progressBarDiv{height:5px;}
/*右侧菜单*/
.border-btm{border-bottom:1px solid #e8e8e8; background-color:#fff;}
/*上传按钮
.greenBtn{border:1px solid #038f00; border-radius:2px;background:#00AD14;}
.uploadBtn{padding:6px 55px; color:#fff; font-size:16px; margin: 14px;display:block; text-decoration: none;}
.uploadBtn:hover{color:#fff;}
*/
/*进度条*/
.diskUseAmount{padding:6px 0; border-top:1px solid #e8e8e8;}
.diskUseAmount .progressBar{height:5px;}
.diskUseAmount .progressBarCur{height:5px;}
.diskUseAmount .progressBar {border:0; background:#d5d7d9;}
.diskUseAmount .progressBarCur span{height: 5px; background: #1f95f0;}
/*网盘功能菜单*/
.diskSortTitle{margin-top:5px;}
.btnGreen:hover{color:#fff;}
/*网盘小图标*/
.i-file-smalIcion{background:url(../../../images/module/networkDisk/disk-small-icon.png) no-repeat; width:32px; height:32px;}
.i-f-none{background-position:0 0;}
.i-f-doc{background-position:0 -34px;}
.i-f-docx{background-position:0 -34px;}
.i-f-exe{background-position:0 -67px;}
.i-f-fla{background-position:0 -100px;}
.i-f-html{background-position:0 -133px;}
.i-f-htm{background-position:0 -133px;}
.i-f-pdf{background-position:0 -168px;}
.i-f-ppt{background-position:0 -201px;}
.i-f-pptx{background-position:0 -201px;}
.i-f-psd{background-position:0 -234px;}
.i-f-swf{background-position:0 -268px;}
.i-f-txt{background-position:0 -301px;}
.i-f-xls{background-position:0 -335px;}
.i-f-xlsx{background-position:0 -335px;}
.i-f-rm{background-position:0 -369px;}
.i-f-mp4{background-position:0 -369px;}
.i-f-wmv{background-position:0 -369px;}
.i-f-flv{background-position:0 -369px;}
.i-f-rmvb{background-position:0 -369px;}
.i-f-3gp{background-position:0 -369px;}
.i-f-avi{background-position:0 -369px;}
.i-f-mpg{background-position:0 -369px;}
.i-f-mkv{background-position:0 -369px;}
.i-f-rar{background-position:0 -403px;}
.i-f-zip{background-position:0 -403px;}
.i-f-7z{background-position:0 -403px;}
.i-f-mp3{background-position:0 -437px;}
.i-f-wma{background-position:0 -437px;}
.i-f-wav{background-position:0 -437px;}
.i-f-mod{background-position:0 -437px;}
.i-f-m4a{background-position:0 -437px;}
.i-f-jpg{background-position:0 -471px;}
.i-f-png{background-position:0 -471px;}
.i-f-bmp{background-position:0 -471px;}
.i-f-gif{background-position:0 -471px;}
.i-f-tif{background-position:0 -471px;}
.i-f-ai{background-position:0 -504px;}
.i-f-sys{background-position:0 -538px;}
.i-f-smv{background-position:0 -570px;}
.i-f-sJpg{background-position:0 -602px;}
.i-f-smic{background-position:0 -634px;}
.i-f-eml{background-position:0 -667px;}
.i_m_139{background-position:0 -504px;}
.i-f-system{background-position:0 -702px;}
.i-f-mov{background-position:0 -369px;}
.i-f-asf{background-position:0 -369px;}
.i-f-png{background-position:0 -471px;}

.newShareTable .i_m_139{background-position:0 0;}

.noLineTop{border-top:none !important;}
.noLineBottom{border-bottom:none !important;}
.growFont{color:#7b9eb7;}

/*头部面包屑*/
.inboxHeadeTitle{float:left; padding-left:10px;}
.inboxHeadeTitle strong{float:none; font-weight:normal; color:#464646;}
.inboxHeadeTitle em{color:#999;}
.inboxHeadeTitle span{color:#ff5907;}
.inboxHeadeTitle a{color:#1a75ca;}
.toolBarUl{height:28px;}
.viewTipPic{position:relative;top:6px; *top:9px;}

/*右键弹出框*/
.menuPop{zoom:1;}
.menuPop .icon{margin-right:10px; vertical-align:-3px;*vertical-align:middle;}

.listItem .cShare, .listHead .cShare{position:absolute; left:-5px; bottom:-2px;}

.diskShare{border-bottom:1px solid #d7d7d7; padding:20px 11px 10px;}
.diskShare .i-file-smalIcion{float:left; width:32px;}
.diskShare_info{float:right; width:200px;}
.diskShare_info strong{color:#666;}
.diskShare_info p{color:#888;}

.diskShare_ul{padding:13px 0;}
.diskShare_ul li{position:relative; zoom:1; vertical-align:top;}
.diskShare_ul li a{padding:0 19px; display:block; line-height:26px; color:#666; cursor:pointer;}
.diskShare_ul li a:hover{background-color:#e8e8e8;}
.diskShare_ul li .i_u_close{position:absolute; right:10px; top:9px; padding:0; background-color:none; cursor:pointer;}
.diskShare_ul li .diskShare_span{width:200px; height:26px; display:block; overflow:hidden;}

.listHeadMail span{color:#999;}
.listHeadMail p a{color:#1a75ca;}

.lightGray{color:#999;}
.toolBarUl a, .toolBarUl .toolBarUlpo{margin-right:0; float:left;}

.inboxHeader .inboxHeaderfr{padding-left:10px;}
.toolBarUlpo{border:2px solid #fff; display:inline-block; position:relative; top:-2px;}
.backgroundBlock{width:100%; height:100%; background:#000; filter:alpha(opacity=20); -moz-opacity:0.2; -khtml-opacity:0.8; opacity:0.2; position:absolute; left:0; top:0; z-index:9002;}

.promptOne{background:url(../../../images/module/networkDisk/networkiconAll.png) no-repeat; width:505px; height:282px; position:absolute; left:28px; top:10px; z-index:9003;}
.promptTwo{background:url(../../../images/module/networkDisk/networkiconDisk.png) no-repeat;width:445px; height:277px; position:absolute; left:651px;top:54px; z-index:9003;}

.promptOne a, .promptTwo a{background:url(../../../images/module/networkDisk/networkIcon_24.png) no-repeat; _background:url(../../../images/module/networkDisk/networkIcon.png) no-repeat; width:12px; height:12px; display:inline-block;}
.promptOne a, .promptTwo a{background-position:-132px -49px;position: absolute;right: 28px;top: 55px;}
.promptOne a:hover, .promptTwo a:hover{background-position:-146px -49px;}


td.t-name p {display: none;}
td.t-name a{ cursor:pointer; color:#666;}
.tbl-list td.t-check {width: 35px;text-align: left;padding: 5px 0;padding-left:8px;vertical-align: middle;}
.tbl-list td.t-check .i-addrDot{margin-left:5px; *margin-left:0;}


.newGroupTips{width:213px; height:48px; background-color:#ffffe1; border:#e1e1c9 solid 1px; position:absolute; top:0px; left:105px; z-index:999;}
.newGroupTips .inner{padding:15px 0 0 15px;color:#666; line-height:18px;}
.newGroupTips strong{font-size:14px;}
.newGroupTips .icon-light{background:url(../../../images/module/networkDisk/rec-ico.png) no-repeat -20px -1px; width:16px; height:16px; float:left;}
.newGroupTips .arrow-left-tips{ width:5px; height:7px; position:absolute;left:-5px; top:9px; font-size:0;background:url(../../../images/module/networkDisk/rec-ico.png) no-repeat 0 0;}

.newShareTable .t-check{padding-left: 8px;}

.networkDisk-folderScroll{ overflow-y:auto; overflow-x:visible; position: relative;}

.folder-wraper{ min-height: 100%;_height:99%;}
.folder-wraper-inner{padding-bottom: 114px;}
.networkDisk-folderScroll .downloadDisk{margin-top: -114px;}

/* 官方共享 */

.officialShareWrap{width: 1030px; margin: 0 14px; padding-top: 10px;}

.offShare-left{width: 820px; float: left;}
.offShare-right{width: 190px; float: right;background-color: #f5f5f5; padding-top: 2px;}
.offShare-left .section{ margin-bottom: 12px;}
.offShare-left .focus-large{ height: 200px; width: 820px; overflow: hidden;position: relative; *zoom: 1;}
.focus-large .focus-ul{width: 9999px;}
.focus-large .focus-li{float: left; width: 820px;}
.focus-large .focus-img{height: 200px; width: 820px;}

.officialShareWrap .hd{ line-height: 32px;font-size: 16px; position: relative;*zoom: 1; border-bottom: #ccc solid 2px;}
.officialShareWrap .more{position: absolute; top:0; right: 0; font-size: 12px;}

.m-offShareList .bd{background-color: #f5f5f5;padding: 10px;}
.m-offShareList .headline{float: left; width: 210px;}
.m-offShareList .headline .headline-dl{ overflow: hidden; position: relative;}
.m-offShareList .headline .headline-dl img,.m-offShareList .headline .headline-dl{width: 210px; height: 278px;}
.m-offShareList .bar{position: absolute; left: 0; bottom:-29px; width: 100%; z-index: 1;color: #fff;}
.m-offShareList .bg{background: #000; position: absolute; z-index: -1;width: 100%; height: 100%; opacity: .6;_height: 59px; *filter:alpha(opacity=60);}
.m-offShareList .this-title{ padding: 0 10px; font-weight: 300; line-height: 24px;}
.headline-dl .bar .this-title{line-height: 30px; }
.m-offShareList .bar .btnBox{ padding: 0 10px 7px;}
.m-offShareList .bar .btnBox a{}
.m-offShareList .right-list{float: left;width: 590px; height: 278px; /*overflow: hidden;*/}
.m-offShareList .right-list li{margin: 0 0 10px 10px; float: left; display: inline; }
.m-offShareList .list-dl{position: relative;*zoom:1; overflow: hidden;}
.m-offShareList .list-dl img,.m-offShareList .list-dl{width: 108px; height: 134px;}
.m-offShareList .list-dl .this-title{ padding: 0 6px; width:96px; border-collapse:collapse; table-layout:fixed;}
.m-offShareList .list-dl .btnBox{ padding: 0 6px 7px;}
.bd .i-shareNew{position:absolute;right:-5px;top:-5px;}
.officialShareWrap .btnG,.officialShareWrap .btnTb{padding: 0; width: 42px; text-align: center; border: 0; height: 22px; line-height: 22px;}
.officialShareWrap .btnG:hover{color:#fff;border: 0;}
.officialShareWrap .btnTb{height: 20px; line-height: 20px; width: 40px; border: #dadada solid 1px;}
.officialShareWrap .btnTb:hover{color:#666;}

.m-offShareList2 .headline{width: 290px;}
.m-offShareList2 .right-list{width: 510px; height: 210px;}
.m-offShareList2 .headline .headline-dl img,.m-offShareList2 .headline .headline-dl{width: 290px; height: 210px;}
.m-offShareList2 .list-dl img,.m-offShareList2 .list-dl{width: 160px; height: 100px;}

.offShare-right .section{ width: 170px; margin: auto;}
.officialShareWrap .offShare-right .hd{ line-height: 28px; font-size: 12px;}
.officialShareWrap .offShare-right .noborder{border-bottom: none;}
.offShare-right .offShare-recommend{margin-bottom: 16px;}
.offShare-recommend .recommend-ul{height: 170px; overflow: hidden;}
.offShare-recommend .recommend-ul li{ margin-bottom: 4px; }
.offShare-recommend .recommend-ul img{width: 170px; height: 83px;}


.books-ul,.softs-ul{ padding-top: 4px;}
.books-dl,.softs-dl{ *display: inline; position: relative; *zoom:1; cursor: pointer;}
.books-dl .pic,.softs-dl .pic{ position: absolute; left:0; top:6px; display: none;}

.books-dl .pic img{width: 40px; height: 50px;}
.books-dl .bookname a,.softs-dl .softname a{display:block; line-height: 26px; white-space: nowrap; width: 100%; overflow: hidden; text-indent: 6px; background:url(../../../images/module/networkDisk/li-dot.png) no-repeat left center;
	-ms-text-overflow: ellipsis;
text-overflow: ellipsis;
height: 26px;
}
.books-dl .bookname a,.books-dl .bookname a:hover,.softs-dl .softname a,.softs-dl .softname a:hover{color:#444;}
.books-dl .btnBox{padding-left: 50px; display: none;}

.offShare-books{height:344px;}
.offShare-books .hover{ padding: 6px 0; height: 50px;}
.offShare-books .hover .bookname{ padding-left: 50px; line-height: 18px;}
.offShare-books .hover .pic,.offShare-books .hover .btnBox{display: block;}
.offShare-books .hover .bookname a{ text-indent: 0; background: none;}

.offShare-softs{padding-bottom: 10px;}
.softs-dl .pic img{width: 48px; height: 48px;}
.softs-dl .btnBox{padding-left: 58px; display: none;}
.softs-dl .softname a{ background: none;  text-indent: 30px; }
.softs-dl .softname .img{width: 20px; height: 20px; position: absolute; top:3px; left: 0;}
.softs-dl{ margin-top: 3px;}
.offShare-softs .hover{margin-top: 0;padding: 6px 0; height: 48px;}
.offShare-softs .hover .softname{ padding-left: 58px; line-height: 18px;}
.offShare-softs .hover .softname .img{display: none}
.offShare-softs .hover .pic,.offShare-softs .hover .btnBox{display: block;}
.offShare-softs .hover .softname a{ text-indent: 0; background: none;}

.ctrlDotBox{ position: absolute; bottom: 12px; left: 0; width: 100%; text-align: center;}
.ctrlDotBox a{color:#FFF;font:14px SimSun;margin:0 5px; cursor:pointer;filter:alpha(opacity=60);opacity: .6; display: inline-block;}
.ctrlDotBox .current{color:#fff; filter:alpha(opacity=100);opacity: 1;}


/*.inAside-fix{float: left; margin-right: -200px; margin-left: 0;}*/

.section .prev, .section .next{background:url(../../../images/module/schedule/square.png) no-repeat; _background:url(../../../images/module/schedule/square8.png) no-repeat;display:inline-block; overflow:hidden;}
.section .prev{background-position:-80px -24px; width:34px; height:50px;}
.section .next{background-position:-120px -24px; width:34px; height:50px;}
.section .prev,.section .prev{position:absolute; top:85px;}
.section .next{position:absolute; top:85px; right:0;}
.section .prev:hover{background-position:0px -24px;}
.section .next:hover{background-position:-40px -24px;}

/*头像引导*/
.window_headPortrait{background:url(../../../images/module/networkDisk/networkiconDisk_02.png) no-repeat; _background:url(../../../images/module/networkDisk/networkiconDisk_02_8.png) no-repeat; width:346px; height:282px; position:absolute; left:85px; top:113px; z-index:9003;}
.window_headPortrait a{position:absolute; left:294px; top:34px; width:35px; height:35px; display:inline-block;}
